.d .forums-create-new .title-wrap,
.d .forums-create-new .post-wrap {
    padding: 10px;
}

.d .forums-create-new .title-wrap {
    border-bottom: 1px solid #CCC;
	border-bottom-color: var(--default-panel-divider-outer-side-color);
}

.d .forums-create-new .post-wrap {
    border-top: 1px solid #FFF;
	border-top-color: var(--default-panel-divider-inner-side-color);
}


.d .forums-create-new .title-wrap .label,
.d .forums-create-new .post-wrap .label {
    padding-bottom: 10px;
    font-weight: bold;
}

.d .forums-create-new .title-wrap input[type='text'],
.d .forums-create-new .additional-controls input[type='text'] {
    padding: 9px 10px;
    line-height: 14px;
    width: 742px;
}

.d .forums-create-new .create-form textarea.tiny-area {
    width: 758px;
}

.d .forums-create-new .form-submit-wrapper {
    padding: 0 10px 10px 10px;
}

.d .forums-create-new .form-submit-wrapper .form-reset {
    cursor: pointer;
    margin-left: 10px;
}

.d .forums-create-new .form-submit-wrapper .btn-wrap {
    display: inline-block;
}

.d .forums-create-new .choice-container,
.d .forums-create-new .choice-container label {
    display: inline-block;
}


.d .forums-create-new .choice-container {
    margin: 0 5px 0 10px;
}

.d .forums-create-new .choice-container .checkbox-css:not(checked)+.marker-css:before {
    	top: -1px;
}

.d .forums-create-new .choice-container .checkbox-css:not(checked)+.marker-css:after {
	top: 3px;
}

.d .forums-create-new .create-form .input-wrap {
    border: none;
}

.d .forums-create-new .create-form .input-wrap.error input {
    padding: 4px 9px;
    border: 2px solid;
    border-color: #FFA396;
    border-color: var(--input-error-border-color);
}

.d .forums-create-new .create-form .input-wrap .mce-tinymce.mce-container.mce-panel {
    margin: 1px;
}

.d .forums-create-new .create-form .input-wrap.error .mce-tinymce.mce-container.mce-panel {
    border: 2px solid #FFA396 !important;
    margin: 0;
}

.d .forums-new-poll-wrap .create-form input[name^='question'] {
    width: 348px;
}

.d .forums-create-new .form-submit-wrapper .form-reset {
    text-decoration: none;
    color: #666;
    color: var(--default-gray-6-color);
}

.d .forums-create-new .form-submit-wrapper .form-reset:hover {
    color: #333;
    color: var(--default-color);
}

.d .forums-new-poll-wrap .votes-wrap .label {
    padding-bottom: 5px;
    font-weight: bold;
}

.d .forums-new-poll-wrap .poll-action-wrap {
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #CCC;
	border-bottom-color: var(--default-panel-divider-outer-side-color);
}

.d .forums-new-poll-wrap .title-wrap {
    border-bottom: 0;
    padding-bottom: 5px;
    border-top: 1px solid #FFF;
	border-top-color: var(--default-panel-divider-inner-side-color);
}

.d .forums-new-poll-wrap .votes-wrap {
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
}

.d .forums-new-poll-wrap .votes-wrap > li {
    padding: 5px 0;
}

.d .forums-new-poll-wrap .votes-wrap > li .first-in-row,
.d .forums-new-poll-wrap .votes-wrap > li .last-in-row {
    width: 372px;
    padding: 0 10px;
    float: left;
}

.d .forums-new-poll-wrap .votes-wrap > li:first-child .first-in-row,
.d .forums-new-poll-wrap .votes-wrap > li:first-child .last-in-row {
    width: 371px;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}

.d .forums-new-poll-wrap .votes-wrap > li:first-child .first-in-row {
    border-right: 1px solid #CCC;
	border-right-color: var(--default-panel-divider-outer-side-color);
}

.d .forums-new-poll-wrap .votes-wrap > li:first-child .last-in-row {
    border-left: 1px solid #FFF;
	border-left-color: var(--default-panel-divider-inner-side-color);
}

.d .forums-new-poll-wrap .votes-wrap > li input[type='text'] {
    width: 348px;
}

.d .forums-new-poll-wrap .votes-wrap > li .input-wrap.error input[type='text'] {
    width: 349px;
}

.d .forums-new-poll-wrap .votes-wrap > li .t-delimiter,
.d .forums-new-poll-wrap .votes-wrap > li .b-delimiter {
    display: block;
    height: 35px;
    width: 2px;
    left: 390px;
    position: absolute;
}

.d .forums-new-poll-wrap .poll-wrap .add-vote-wrap {
    padding: 5px 10px 10px 10px;
    border-bottom: 1px solid #CCC;
	border-bottom-color: var(--default-panel-divider-outer-side-color);
}

.d .forums-new-multi-wrap .forums-create-new .form-submit-wrapper {
    border-top: 1px solid #FFF;
	border-top-color: var(--default-panel-divider-inner-side-color);
    padding-top: 10px;
}

.d .forums-new-multi-wrap .forums-create-new .subscribe,
.d .forums-new-multi-wrap .forums-create-new .make-sticky {
    padding-top: 5px;
}

.d .forums-new-multi-wrap .forums-create-new .make-sticky {
    padding-left: 20px;
}

.d .forums-new-post-wrap .forums-create-new .subscribe,
.d .forums-new-multi-wrap .forums-create-new .subscribe,
.d .forums-new-multi-wrap .forums-create-new .make-sticky,
.d .forums-new-multi-wrap .forums-create-new .multi-answers {
    display: inline-block;
}

.d .forums-new-multi-wrap .forums-create-new .multi-answers {
    font-weight: normal;
    float: right;
}

.d .forums-new-post-wrap .forums-create-new .subscribe label,
.d .forums-new-multi-wrap .forums-create-new .subscribe label,
.d .forums-new-multi-wrap .forums-create-new .make-sticky label,
.d .forums-new-multi-wrap .forums-create-new .multi-answers label {
    vertical-align: middle;
}

.d .forums-new-multi-wrap .forums-create-new .poll-wrap {
    display: none;
}

.d .forums-create-new .small-select-menu-wrap .select-list .viewport {
    width: 131px;
    height: 244px;
}

.d .forums-create-new .small-select-menu-wrap .select-wrap .ui-selectmenu-menu ul {
    padding-right: 0;
}

.d .forums-create-new .small-select-menu-wrap .select-list {
    width: 123px;
}

.d .forums-create-new .title-wrap .thread-type {
    display: none;
}

.d .forums-create-new .title-wrap.type-enabled .thread-type {
    display: block;
}

.d .forums-create-new .type-enabled input[type='text'] {
    width: 595px;
}

.d .forums-create-new .type-enabled.non-related-enabled input[type='text'] {
    width: 583px;
}

.d .forums-create-new .non-related-enabled .small-select-menu-wrap .select-list {
    width: 135px;
}

.d .forums-create-new .type-enabled .thread-title {
    margin-left: 10px;
}

.d .forums-create-new .title-wrap .thread-type .label {
    padding-left: 2px;
    padding-bottom: 9px;
}

.d .forums-create-new .editorRoot {
    border: 0;
    border-radius: 0 0 5px 5px;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid var(--panel-border-bottom-color);
    min-height: 200px;
    max-height: calc(100vh - 400px);
}

.d .p0 {
    padding: 0
}


@media screen and (max-width: 784px) {
    .r .forums-create-new .title-wrap input[type='text'],
    .r .forums-create-new .additional-controls input[type='text'],
    .r .forums-new-poll-wrap .votes-wrap > li input[type='text'] {
        width: 344px;
        padding: 9px 10px;
    }

    .r .forums-create-new .input-wrap.error input[type='text'],
    .r .forums-new-poll-wrap .votes-wrap > li .input-wrap.error input[type='text'] {
        width: 344px;
        padding: 9px;
    }

    .r .forums-create-new .post-wrap .label {
        display: inline-block;
        float: left;
    }

    .r .forums-create-new .mce-tinymce.mce-container.mce-panel {
        margin-top: 0;
    }

    .r .forums-create-new .show-tiny-panels,
    .r .forums-create-new .form-message-input-text .show-panels {
        margin-top: -2px;
        padding-right: 0;
        margin-bottom: 5px;
    }

    .r .forums-create-new .create-form textarea.tiny-area {
        width: 358px;
    }

    .r .forums-new-poll-wrap .create-form input[name^='question'] {
        width: 344px;
    }

    .r .forums-new-multi-wrap .forums-create-new .subscribe,
    .r .forums-new-multi-wrap .forums-create-new .make-sticky {
        padding-top: 0;
        padding-bottom: 10px;
        display: block;
    }

    .r .forums-new-multi-wrap .forums-create-new .make-sticky {
        float: left;
        margin-top: 10px;
        margin-left: 10px;
    }

    .r .forums-new-multi-wrap .forums-create-new .form-reset {
        float: left;
        margin-top: 10px;
    }

    .r .forums-new-poll-wrap .votes-wrap > li {
        padding: 0;
    }

    .r .forums-new-poll-wrap .poll-wrap .votes-wrap > li .first-in-row,
    .r .forums-new-poll-wrap .poll-wrap .votes-wrap > li .last-in-row {
        padding: 5px 10px;
        margin-bottom: 0;
        border-right: 0;
        border-left: 0;
        width: 366px;
    }

    .r .forums-new-poll-wrap .title-wrap {
        padding-bottom: 5px;
    }

    .r .forums-new-multi-wrap .forums-create-new .make-sticky {
        padding-left: 0;
    }

    .r .forums-create-new .type-enabled input[type='text'] {
        width: 344px;
    }

    .r .forums-create-new .type-enabled .thread-title {
        margin-left: 0;
    }

    .r .forums-create-new .title-wrap .thread-title .label {
        padding-top: 10px;
    }

    .r .forums-create-new .title-wrap.type-enabled .thread-type {
        width: 100%;
    }

    .r .forums-create-new .small-select-menu-wrap.t-big-select-menu .select-wrap {
        width: 100% !important;
    }

    .r .forums-create-new .title-wrap .thread-type .label {
        padding-left: 0;
    }

    body.r .forums-create-new #bbc-editor .actions .controls {
        margin-top: 9px;
    }

    body.r .forums-create-new #bbc-editor .actions .controls > li {
        padding: 0 7px;
    }

    body.r .forums-create-new #bbc-editor .button {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 386px) {

    .r .forums-create-new .title-wrap input[type='text'],
    .r .forums-create-new .additional-controls input[type='text'],
    .r .forums-create-new .input-wrap.error input[type='text'],
    .r .forums-new-poll-wrap .votes-wrap > li input[type='text'],
    .r .forums-new-poll-wrap .votes-wrap > li .input-wrap.error input[type='text'] {
        width: 278px;
    }


    .r .forums-create-new .create-form textarea.tiny-area {
        width: 294px;
    }

    .r .forums-new-poll-wrap .create-form input[name^='question'] {
        width: 278px;
    }

    .r .forums-new-poll-wrap .poll-wrap .votes-wrap > li .first-in-row,
    .r .forums-new-poll-wrap .poll-wrap .votes-wrap > li .last-in-row {
        width: 300px;
    }

    .r .forums-create-new .type-enabled input[type='text'] {
        width: 278px;
    }
}

