:root .dark-mode {
    --bbc-body-bg-color: #111;
    --bbc-gray-4-color: #444;
    --bbc-gray-5-color: #555;
    --bbc-gray-9-color: #999;
    --bbc-actions-tools-bg: transparent url("/images/v2/editor/tools_dark.svg") no-repeat;
    --bbc-actions-bg-color: var(--default-gray-3-color);
    --bbc-actions-border-top: 1px solid var(--bbc-gray-4-color);
    --bbc-actions-border-bottom: 1px solid var(--bbc-gray-4-color);
    --bbc-actions-buttons-shadow: 0 1px 0 var(--bbc-body-bg-color);
    --bbc-modal-border-color: var(--bbc-gray-4-color);
    --bbc-modal-bg-color: var(--default-gray-3-color);
    --bbc-dilimiter-gradient: transparent linear-gradient(0deg, #00000000 0%, #00000080 50%, #00000000 100%) 0% 0% no-repeat padding-box;
    --bbc-emoticons-sprite: transparent url("/images/v2/editor/emoticons_dark.svg") no-repeat;
    --bbc-colorpicker-black: #000;
    --bbc-font-size-color: var(--default-gray-8-color);
    --bbc-font-size-selected-underscore: var(--bbc-gray-5-color);
    --bbc-input-bg-color: var(--bbc-body-bg-color);
    --bbc-input-border-color: var(--bbc-gray-4-color);
    --bbc-input-color: var(--default-gray-8-color);
    --bbc-input-label-color: var(--default-gray-8-color);
    --bbc-input-border-right: 1px solid var(--bbc-gray-4-color);
}
