:root {
    --bbc-body-bg-color: var(--default-white-color);
    --bbc-gray-d-color: #ddd;
    --bbc-actions-tools-bg: transparent url("/images/v2/editor/tools.svg") no-repeat;
    --bbc-actions-bg-color: var(--default-gray-f2-color);
    --bbc-actions-border-top: 1px solid rgba(255, 255, 255, 0.6);
    --bbc-actions-border-bottom: 1px solid var(--default-white-color);
    --bbc-actions-buttons-shadow: 0 1px 0 var(--default-white-color);
    --bbc-modal-border-color: var(--default-gray-f2-color);
    --bbc-modal-bg-color: var(--default-white-color);
    --bbc-dilimiter-gradient: linear-gradient(rgba(204, 204, 204, 0) 0%, #cccccc 50%, rgba(204, 204, 204, 0) 100%);
    --bbc-emoticons-sprite: transparent url("/images/v2/editor/emoticons.svg") no-repeat;
    --bbc-colorpicker-black: var(--default-gray-3-color);
    --bbc-font-size-color: var(--default-gray-3-color);
    --bbc-font-size-selected-underscore: var(--bbc-gray-d-color);
    --bbc-input-bg-color: var(--default-white-color);
    --bbc-input-border-color: var(--default-panel-divider-outer-side-color);
    --bbc-input-color: var(--default-gray-3-color);
    --bbc-input-label-color: var(--default-gray-3-color);
    --bbc-input-border-right: 1px solid var(--bbc-gray-d-color);
}
