button {
    background-color: transparent;
    border-color: transparent;
}

.torn-btn {
    font-family: "Fjalla One", Arial, serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    color: #555;
    color: var(--btn-color);
    text-shadow: 0 1px 0 #FFFFFF40;
    text-shadow: var(--btn-text-shadow);
    background: linear-gradient(180deg, #DEDEDE 0%, #F7F7F7 25%, #CFCFCF 60%, #E7E7E7 78%, #D9D9D9 100%);
    background: var(--btn-background);
    border: 1px solid #aaa;
    border: var(--btn-border);
    display: inline-block;
    vertical-align: middle;
}

.torn-btn:hover,
.torn-btn:focus {
    color: #444;
    color: var(--btn-hover-color);
    text-shadow: 0 0 5px #FFF;
    text-shadow: var(--btn-hover-text-shadow);
    background: linear-gradient(180deg, #CCCCCC 0%, #FFFFFF 25%, #BBBBBB 60%, #EEEEEE 78%, #BBBBBB 100%);
    background: var(--btn-hover-background);
    border: 1px solid #999;
    border: var(--btn-hover-border);
}

.torn-btn:active {
    color: #444;
    color: var(--btn-active-color);
    text-shadow: 0 0 5px #FFF;
    text-shadow: var(--btn-active-text-shadow);
    background: linear-gradient(180deg, #c4c4c4 0%, #e9e9e9 100%);
    background: var(--btn-active-background);
    border: none;
    border: var(--btn-active-border);
    box-shadow: inset 0 1px 0 #00000012, 0 1px 0 #fff;
    box-shadow: var(--btn-active-box-shadow);
}

.torn-btn:disabled,
.torn-btn.disabled {
    color: #aaa;
    color: var(--btn-disable-color);
    text-shadow: none;
    text-shadow: var(--btn-disable-text-shadow);
    background: linear-gradient(180deg, #c4c4c4 0%, #e9e9e9 100%);
    background: var(--btn-disable-background);
    border: none;
    border: var(--btn-disable-border);
    box-shadow: inset 0 1px 0 #00000012, 0 1px 0 #fff;
    box-shadow: var(--btn-disable-box-shadow);
    cursor: default;
}

a.torn-btn {
    text-decoration: none;
}

.torn-btn:active,
.torn-btn:disabled,
.torn-btn.disabled,
.torn-btn:disabled:active,
.torn-btn.disabled:active,
a.torn-btn.disabled,
a.torn-btn:active,
a.torn-btn.disabled:active {
    padding: 0 11px;
}

.torn-btn {
    height: 34px;
    line-height: 34px;
}

.torn-btn:active,
.torn-btn:disabled,
.torn-btn.disabled,
a.torn-btn:active,
a.torn-btn.disabled,
a.torn-btn.disabled:active {
    height: 34px;
    line-height: 36px;
}

a.torn-btn {
    height: 32px;
    line-height: 34px;
}

.torn-btn.btn-small {
    height: 24px;
    line-height: 24px;
}

.torn-btn.btn-small:active,
.torn-btn.btn-small:disabled,
.torn-btn.btn-small.disabled,
a.torn-btn.btn-small.disabled,
a.torn-btn.btn-small:active,
a.torn-btn.btn-small.disabled:active {
    height: 24px;
    line-height: 26px;
}

a.torn-btn.btn-small {
    height: 22px;
    line-height: 24px;
}

/* Styles for DARK containers */

.torn-btn.btn-dark-bg {
    color: #EEE;
    text-shadow: 0 0 5px #000;
    background: linear-gradient(180deg, #111111 0%, #555555 25%, #333333 60%, #333333 78%, #111111 100%);
    border: 1px solid #111;
}

.torn-btn.btn-dark-bg:hover,
.torn-btn.btn-dark-bg:focus {
    color: #fff;
    text-shadow: 0 0 5px #FFFFFF40;
    background: linear-gradient(180deg, #333333 0%, #777777 25%, #333333 59%, #666666 78%, #333333 100%);
    border: 1px solid #111;
}

.torn-btn.btn-dark-bg:active {
    color: #ddd;
    text-shadow: 0 0 2px #00000073;
    background: linear-gradient(180deg, #000000 0%, #333333 100%);
    border: none;
    box-shadow: inset 0 -1px 0 #FFFFFF12;
}

.torn-btn.btn-dark-bg:disabled,
.torn-btn.btn-dark-bg.disabled {
    color: #555;
    text-shadow: none;
    background: linear-gradient(180deg, #000000 0%, #333333 100%);
    border: none;
    box-shadow: inset 0 -1px 0 #FFFFFF12;
}

/* Styles for transparent button */

.torn-btn.btn-transparent {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    text-transform: none;
    font-family: Arial, serif;
    font-size: 12px;
    color: #069;
    color: var(--default-blue-color);
}

.torn-btn.btn-transparent.btn-dark-bg {
    color: #74C0FC;
}

.torn-btn.btn-transparent:hover,
.torn-btn.btn-transparent:focus {
    color: #999;
    color: var(--default-blue-hover-color);
}

.torn-btn.btn-transparent.btn-dark-bg:hover,
.torn-btn.btn-transparent.btn-dark-bg:focus {
    color: #A5D8FF;
}

.torn-btn.btn-transparent:disabled,
.torn-btn.btn-transparent.disabled {
    color: #BBB;
}

@media screen and (max-width: 784px) {
    .r .torn-btn.btn-small {
        height: 34px;
        line-height: 34px;
    }

    .r .torn-btn.btn-small:active,
    .r .torn-btn.btn-small:disabled {
        height: 34px;
        line-height: 36px;
    }
}