/*
    Additional css classes:
    - .hover-wrapper (for hover effects of parent containers)
    - .light-bg (only for light panels in light/dark modes)
    - .dark-bg (only for dark panels in light/dark modes)
*/

.radio-css,
.checkbox-css {
    vertical-align: top;
    width: 13px;
    height: 13px;
    position: absolute;
    opacity: 0;
    left: -5000px;
    top: auto;
}

.radio-css + .marker-css,
.checkbox-css + .marker-css {
    position: relative;
    padding: 0 0 0 18px;
    cursor: pointer;
}

.radio-css[disabled] + .marker-css,
.checkbox-css[disabled] + .marker-css {
    cursor: default;
}

.radio-css + .marker-css:before,
.checkbox-css + .marker-css:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
}

.radio-css + .marker-css:after,
.checkbox-css + .marker-css:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    opacity: 0;
}

.radio-css:checked + .marker-css:after,
.checkbox-css:checked + .marker-css:after {
    opacity: 1;
}

.checkbox-css + .marker-css:before,
.checkbox-css + .marker-css:after,
.checkbox-css:focus + .marker-css:before {
    border-radius: 0;
}

.radio-css.without-label + .marker-css > span,
.checkbox-css.without-label + .marker-css > span {
    position: absolute;
    top: 0;
    left: -10000px;
    -webkit-user-select: none;
    user-select: none;
}

/* color themes */

.radio-css + .marker-css,
.checkbox-css + .marker-css {
    color: #444;
    color: var(--checkbox-color);
}

.radio-css.light-bg + .marker-css,
.checkbox-css.light-bg + .marker-css {
    color: #444;
}

.radio-css.dark-bg + .marker-css,
.checkbox-css.dark-bg + .marker-css {
    color: #ddd;
}

.radio-css + .marker-css:before,
.checkbox-css + .marker-css:before {
    border-color: #aaa;
    border-color: var(--checkbox-border-color);
    box-shadow: 0 1px 0 #FFFFFF;
    box-shadow: var(--checkbox-box-shadow);
    box-sizing: border-box;
}

.radio-css.light-bg + .marker-css:before,
.checkbox-css.light-bg + .marker-css:before {
    border-color: #aaa;
    box-shadow: 0 1px 0 #FFFFFF;
}

.radio-css.dark-bg + .marker-css:before,
.checkbox-css.dark-bg + .marker-css:before {
    border-color: #ddd;
    box-shadow: none;
}

.radio-css + .marker-css:after,
.checkbox-css + .marker-css:after {
    background-color: #aaa;
    background-color: var(--checkbox-bg-color);
    box-shadow: 0 1px 0 #FFFFFF;
    box-shadow: var(--checkbox-box-shadow);
}

.radio-css.light-bg + .marker-css:after,
.checkbox-css.light-bg + .marker-css:after {
    background-color: #aaa;
    box-shadow: 0 1px 0 #FFFFFF;
}

.radio-css.dark-bg + .marker-css:after,
.checkbox-css.dark-bg + .marker-css:after {
    background-color: #ddd;
    box-shadow: none;
}

.radio-css:hover + .marker-css,
.radio-css:focus + .marker-css,
.checkbox-css:hover + .marker-css,
.checkbox-css:focus + .marker-css,
.hover-wrapper:hover .radio-css + .marker-css,
.hover-wrapper:focus .radio-css + .marker-css,
.hover-wrapper:hover .checkbox-css + .marker-css,
.hover-wrapper:focus .checkbox-css + .marker-css {
    color: #333;
    color: var(--checkbox-hover-color);
}

.radio-css.light-bg:hover + .marker-css,
.radio-css.light-bg:focus + .marker-css,
.checkbox-css.light-bg:hover + .marker-css,
.checkbox-css.light-bg:focus + .marker-css,
.hover-wrapper:hover .radio-css.light-bg + .marker-css,
.hover-wrapper:focus .radio-css.light-bg + .marker-css,
.hover-wrapper:hover .checkbox-css.light-bg + .marker-css,
.hover-wrapper:focus .checkbox-css.light-bg + .marker-css {
    color: #333;
}

.radio-css.dark-bg:hover + .marker-css,
.radio-css.dark-bg:focus + .marker-css,
.checkbox-css.dark-bg:hover + .marker-css,
.checkbox-css.dark-bg:focus + .marker-css,
.hover-wrapper:hover .radio-css.dark-bg + .marker-css,
.hover-wrapper:focus .radio-css.dark-bg + .marker-css,
.hover-wrapper:hover .checkbox-css.dark-bg + .marker-css,
.hover-wrapper:focus .checkbox-css.dark-bg + .marker-css {
    color: #fff;
}

.radio-css:hover + .marker-css:before,
.radio-css:focus + .marker-css:before,
.checkbox-css:hover + .marker-css:before,
.checkbox-css:focus + .marker-css:before,
.hover-wrapper:hover .radio-css + .marker-css:before,
.hover-wrapper:focus .radio-css + .marker-css:before,
.hover-wrapper:hover .checkbox-css + .marker-css:before,
.hover-wrapper:focus .checkbox-css + .marker-css:before {
    border-color: #666;
    border-color: var(--checkbox-hover-border-color);
    box-shadow: 0 1px 0 #FFFFFF;
    box-shadow: var(--checkbox-hover-box-shadow);
}

.radio-css.light-bg:hover + .marker-css:before,
.radio-css.light-bg:focus + .marker-css:before,
.checkbox-css.light-bg:hover + .marker-css:before,
.checkbox-css.light-bg:focus + .marker-css:before,
.hover-wrapper:hover .radio-css.light-bg + .marker-css:before,
.hover-wrapper:focus .radio-css.light-bg + .marker-css:before,
.hover-wrapper:hover .checkbox-css.light-bg + .marker-css:before,
.hover-wrapper:focus .checkbox-css.light-bg + .marker-css:before {
    border-color: #666;
    box-shadow: 0 1px 0 #FFFFFF;
}

.radio-css.dark-bg:hover + .marker-css:before,
.radio-css.dark-bg:focus + .marker-css:before,
.checkbox-css.dark-bg:hover + .marker-css:before,
.checkbox-css.dark-bg:focus + .marker-css:before,
.hover-wrapper:hover .radio-css.dark-bg + .marker-css:before,
.hover-wrapper:focus .radio-css.dark-bg + .marker-css:before,
.hover-wrapper:hover .checkbox-css.dark-bg + .marker-css:before,
.hover-wrapper:focus .checkbox-css.dark-bg + .marker-css:before {
    border-color: #fff;
    box-shadow: none;
}

.radio-css:hover + .marker-css:after,
.radio-css:focus + .marker-css:after,
.checkbox-css:hover + .marker-css:after,
.checkbox-css:focus + .marker-css:after,
.hover-wrapper:hover .radio-css + .marker-css:after,
.hover-wrapper:focus .radio-css + .marker-css:after,
.hover-wrapper:hover .checkbox-css + .marker-css:after,
.hover-wrapper:focus .checkbox-css + .marker-css:after {
    background-color: #666;
    background-color: var(--checkbox-hover-bg-color);
    box-shadow: 0 1px 0 #FFFFFF;
    box-shadow: var(--checkbox-hover-box-shadow);
}

.radio-css.light-bg:hover + .marker-css:after,
.radio-css.light-bg:focus + .marker-css:after,
.checkbox-css.light-bg:hover + .marker-css:after,
.checkbox-css.light-bg:focus + .marker-css:after,
.hover-wrapper:hover .radio-css.light-bg + .marker-css:after,
.hover-wrapper:focus .radio-css.light-bg + .marker-css:after,
.hover-wrapper:hover .checkbox-css.light-bg + .marker-css:after,
.hover-wrapper:focus .checkbox-css.light-bg + .marker-css:after {
    background-color: #666;
    box-shadow: 0 1px 0 #FFFFFF;
}

.radio-css.dark-bg:hover + .marker-css:after,
.radio-css.dark-bg:focus + .marker-css:after,
.checkbox-css.dark-bg:hover + .marker-css:after,
.checkbox-css.dark-bg:focus + .marker-css:after,
.hover-wrapper:hover .radio-css.dark-bg + .marker-css:after,
.hover-wrapper:focus .radio-css.dark-bg + .marker-css:after,
.hover-wrapper:hover .checkbox-css.dark-bg + .marker-css:after,
.hover-wrapper:focus .checkbox-css.dark-bg + .marker-css:after {
    background-color: #fff;
    box-shadow: none;
}

.radio-css[disabled] + .marker-css,
.checkbox-css[disabled] + .marker-css {
    color: #aaa;
    color: var(--checkbox-disabled-color);
}

.radio-css.light-bg[disabled] + .marker-css,
.checkbox-css.light-bg[disabled] + .marker-css {
    color: #aaa;
}

.radio-css.dark-bg[disabled] + .marker-css,
.checkbox-css.dark-bg[disabled] + .marker-css {
    color: #888;
}

.radio-css[disabled] + .marker-css:before,
.checkbox-css[disabled] + .marker-css:before {
    border-color: #ccc;
    border-color: var(--checkbox-disabled-border-color);
    box-shadow: 0 -1px 0 #FFFFFF;
    box-shadow: var(--checkbox-disabled-box-shadow);
}

.radio-css.light-bg[disabled] + .marker-css:before,
.checkbox-css.light-bg[disabled] + .marker-css:before {
    border-color: #ccc;
    box-shadow: 0 -1px 0 #FFFFFF;
}

.radio-css.dark-bg[disabled] + .marker-css:before,
.checkbox-css.dark-bg[disabled] + .marker-css:before {
    border-color: #666;
    box-shadow: none;
}

.radio-css[disabled] + .marker-css:after,
.checkbox-css[disabled] + .marker-css:after {
    background-color: #ccc;
    background-color: var(--checkbox-disabled-bg-color);
    box-shadow: 0 -1px 0 #FFFFFF;
    box-shadow: var(--checkbox-disabled-box-shadow);
}

.radio-css.light-bg[disabled] + .marker-css:after,
.checkbox-css.light-bg[disabled] + .marker-css:after {
    background-color: #ccc;
    box-shadow: 0 -1px 0 #FFFFFF;
}

.radio-css.dark-bg[disabled] + .marker-css:after,
.checkbox-css.dark-bg[disabled] + .marker-css:after {
    background-color: #666;
    box-shadow: none;
}
