:root {
  --te-text-color-red: #f03e3e;
  --te-text-color-pink: #d6336c;
  --te-text-color-grape: #ae3ec9;
  --te-text-color-violet: #7048e8;
  --te-text-color-indigo: #4263eb;
  --te-text-color-blue: #1c7ed6;
  --te-text-color-cyan: #1098ad;
  --te-text-color-teal: #0ca678;
  --te-text-color-green: #37b24d;
  --te-text-color-lime: #66a80f;
  --te-text-color-yellow: #e67700;
  --te-text-color-orange: #d9480f;
  --te-text-color-gray1: #333333;
  --te-text-color-gray2: #666666;
  --te-text-color-gray3: #999999;
  --te-text-color-gray4: #cccccc;
  --te-text-color-gray5: #ffffff;

  --emoji-image-angel: url("/images/emotions/svg/angel.svg");
  --emoji-image-angry: url("/images/emotions/svg/angry.svg");
  --emoji-image-authority: url("/images/emotions/svg/authority.svg");
  --emoji-image-beard: url("/images/emotions/svg/beard.svg");
  --emoji-image-beaten_up: url("/images/emotions/svg/beaten_up.svg");
  --emoji-image-blushing: url("/images/emotions/svg/blushing.svg");
  --emoji-image-confused: url("/images/emotions/svg/confused.svg");
  --emoji-image-cool: url("/images/emotions/svg/cool.svg");
  --emoji-image-cry: url("/images/emotions/svg/cry.svg");
  --emoji-image-disappointed: url("/images/emotions/svg/disappointed.svg");
  --emoji-image-dizzy: url("/images/emotions/svg/dizzy.svg");
  --emoji-image-evil: url("/images/emotions/svg/evil.svg");
  --emoji-image-grin: url("/images/emotions/svg/grin.svg");
  --emoji-image-hushed: url("/images/emotions/svg/hushed.svg");
  --emoji-image-kissing: url("/images/emotions/svg/kissing.svg");
  --emoji-image-laughing: url("/images/emotions/svg/laughing.svg");
  --emoji-image-love_chemistry: url("/images/emotions/svg/love_chemistry.svg");
  --emoji-image-mugger_masked: url("/images/emotions/svg/mugger_masked.svg");
  --emoji-image-money: url("/images/emotions/svg/money.svg");
  --emoji-image-moustache: url("/images/emotions/svg/moustache.svg");
  --emoji-image-nerd: url("/images/emotions/svg/nerd.svg");
  --emoji-image-party: url("/images/emotions/svg/party.svg");
  --emoji-image-pirate: url("/images/emotions/svg/pirate.svg");
  --emoji-image-sick: url("/images/emotions/svg/sick.svg");
  --emoji-image-bored_sleepy: url("/images/emotions/svg/bored_sleepy.svg");
  --emoji-image-smiley: url("/images/emotions/svg/smiley.svg");
  --emoji-image-tired: url("/images/emotions/svg/tired.svg");
  --emoji-image-tongue: url("/images/emotions/svg/tongue.svg");
  --emoji-image-wink: url("/images/emotions/svg/wink.svg");
  --emoji-image-zip_mouth: url("/images/emotions/svg/zip_mouth.svg");
}

:root .dark-mode {
  --te-text-color-red: #ff8787;
  --te-text-color-pink: #faa2c1;
  --te-text-color-grape: #e599f7;
  --te-text-color-violet: #d0bfff;
  --te-text-color-indigo: #bac8ff;
  --te-text-color-blue: #a5d8ff;
  --te-text-color-cyan: #99e9f2;
  --te-text-color-teal: #63e6be;
  --te-text-color-green: #8ce99a;
  --te-text-color-lime: #a9e34b;
  --te-text-color-yellow: #ffd43b;
  --te-text-color-orange: #ffa94d;
  --te-text-color-gray1: #ffffff;
  --te-text-color-gray2: #dddddd;
  --te-text-color-gray3: #aaaaaa;
  --te-text-color-gray4: #888888;
  --te-text-color-gray5: #000000;

  --emoji-image-angel: url("/images/emotions/svg/angel_dark.svg");
  --emoji-image-angry: url("/images/emotions/svg/angry_dark.svg");
  --emoji-image-authority: url("/images/emotions/svg/authority_dark.svg");
  --emoji-image-beard: url("/images/emotions/svg/beard_dark.svg");
  --emoji-image-beaten_up: url("/images/emotions/svg/beaten_up_dark.svg");
  --emoji-image-blushing: url("/images/emotions/svg/blushing_dark.svg");
  --emoji-image-confused: url("/images/emotions/svg/confused_dark.svg");
  --emoji-image-cool: url("/images/emotions/svg/cool_dark.svg");
  --emoji-image-cry: url("/images/emotions/svg/cry_dark.svg");
  --emoji-image-disappointed: url("/images/emotions/svg/disappointed_dark.svg");
  --emoji-image-dizzy: url("/images/emotions/svg/dizzy_dark.svg");
  --emoji-image-evil: url("/images/emotions/svg/evil_dark.svg");
  --emoji-image-grin: url("/images/emotions/svg/grin_dark.svg");
  --emoji-image-hushed: url("/images/emotions/svg/hushed_dark.svg");
  --emoji-image-kissing: url("/images/emotions/svg/kissing_dark.svg");
  --emoji-image-laughing: url("/images/emotions/svg/laughing_dark.svg");
  --emoji-image-love_chemistry: url("/images/emotions/svg/love_chemistry_dark.svg");
  --emoji-image-mugger_masked: url("/images/emotions/svg/mugger_masked_dark.svg");
  --emoji-image-money: url("/images/emotions/svg/money_dark.svg");
  --emoji-image-moustache: url("/images/emotions/svg/moustache_dark.svg");
  --emoji-image-nerd: url("/images/emotions/svg/nerd_dark.svg");
  --emoji-image-party: url("/images/emotions/svg/party_dark.svg");
  --emoji-image-pirate: url("/images/emotions/svg/pirate_dark.svg");
  --emoji-image-sick: url("/images/emotions/svg/sick_dark.svg");
  --emoji-image-bored_sleepy: url("/images/emotions/svg/bored_sleepy_dark.svg");
  --emoji-image-smiley: url("/images/emotions/svg/smiley_dark.svg");
  --emoji-image-tired: url("/images/emotions/svg/tired_dark.svg");
  --emoji-image-tongue: url("/images/emotions/svg/tongue_dark.svg");
  --emoji-image-wink: url("/images/emotions/svg/wink_dark.svg");
  --emoji-image-zip_mouth: url("/images/emotions/svg/zip_mouth_dark.svg");
}

.editor-content,
.editor-content td {
  color: var(--default-color);
}

.editor-content p,
.editor-content span {
  line-height: 120%;
}

.editor-content img {
  height: auto !important;
  max-width: 100%;
  margin: auto;
  padding-right: 0;
}

.editor-content i,
.editor-content em {
  font-style: italic;
}

.editor-content a {
  color: var(--default-blue-color);
  text-decoration: none;
}

.editor-content blockquote {
  font: italic 1em Georgia, Times, "Times New Roman", serif;
  margin: 5px 0 10px 0;
  padding: 4px 8px;
  overflow: hidden;
  border-left: 1px solid #ccc;
}

.editor-content ul {
  list-style-type: disc;
  margin-block: 0.5em;
  padding-inline-start: 30px;
}

.editor-content ol {
  list-style: decimal;
  margin-block: 0.5em;
  padding-inline-start: 30px;
}

.d img[src="/images/emotions/svg/angel.svg"],
.d img[src="/images/v2/emotions/angel.png"] {
  content: var(--emoji-image-angel);
}

.d img[src="/images/emotions/svg/angry.svg"],
.d img[src="/images/v2/emotions/angry.png"] {
  content: var(--emoji-image-angry);
}

.d img[src="/images/emotions/svg/authority.svg"],
.d img[src="/images/v2/emotions/authority.png"] {
  content: var(--emoji-image-authority);
}

.d img[src="/images/emotions/svg/beard.svg"], 
.d img[src="/images/v2/emotions/beard.png"] {
  content: var(--emoji-image-beard);
}

.d img[src="/images/emotions/svg/beaten_up.svg"],
.d img[src="/images/v2/emotions/beaten_up.png"] {
  content: var(--emoji-image-beaten_up);
}

.d img[src="/images/v2/emotions/blushing.png"], 
.d img[src="/images/emotions/svg/blushing.svg"] {
  content: var(--emoji-image-blushing);
}

.d img[src="/images/emotions/svg/bored_sleepy.svg"],
.d img[src="/images/v2/emotions/bored_sleepy.png"] {
  content: var(--emoji-image-bored_sleepy);
}

.d img[src="/images/emotions/svg/confused.svg"], 
.d img[src="/images/v2/emotions/confused.png"] {
  content: var(--emoji-image-confused);
}

.d img[src="/images/emotions/svg/cool.svg"],
.d img[src="/images/v2/emotions/cool.png"] {
  content: var(--emoji-image-cool);
}

.d img[src="/images/emotions/svg/cry.svg"], 
.d img[src="/images/v2/emotions/cry.png"] {
  content: var(--emoji-image-cry);
}

.d img[src="/images/emotions/svg/disappointed.svg"],
.d img[src="/images/v2/emotions/disappointed.png"] {
  content: var(--emoji-image-disappointed);
}

.d img[src="/images/emotions/svg/dizzy.svg"], 
.d img[src="/images/v2/emotions/dizzy.png"] {
  content: var(--emoji-image-dizzy);
}

.d img[src="/images/emotions/svg/evil.svg"],
.d img[src="/images/v2/emotions/evil.png"] {
  content: var(--emoji-image-evil);
}

.d img[src="/images/emotions/svg/grin.svg"], 
.d img[src="/images/v2/emotions/grin.png"] {
  content: var(--emoji-image-grin);
}

.d img[src="/images/emotions/svg/hushed.svg"],
.d img[src="/images/v2/emotions/hushed.png"] {
  content: var(--emoji-image-hushed);
}

.d img[src="/images/emotions/svg/kissing.svg"], 
.d img[src="/images/v2/emotions/kissing.png"] {
  content: var(--emoji-image-kissing);
}

.d img[src="/images/emotions/svg/laughing.svg"],
.d img[src="/images/v2/emotions/laughing.png"] {
  content: var(--emoji-image-laughing);
}

.d img[src="/images/emotions/svg/love_chemistry.svg"],
.d img[src="/images/v2/emotions/love_chemistry.png"] {
  content: var(--emoji-image-love_chemistry);
}

.d img[src="/images/emotions/svg/money.svg"],
.d img[src="/images/v2/emotions/money.png"] {
  content: var(--emoji-image-money);
}

.d img[src="/images/emotions/svg/moustache.svg"],
.d img[src="/images/v2/emotions/moustache.png"] {
  content: var(--emoji-image-moustache);
}

.d img[src="/images/emotions/svg/mugger_masked.svg"],
.d img[src="/images/v2/emotions/mugger_masked.png"] {
  content: var(--emoji-image-mugger_masked);
}

.d img[src="/images/emotions/svg/nerd.svg"],
.d img[src="/images/v2/emotions/nerd.png"] {
  content: var(--emoji-image-nerd);
}

.d img[src="/images/emotions/svg/party.svg"],
.d img[src="/images/v2/emotions/party.png"] {
  content: var(--emoji-image-party);
}

.d img[src="/images/emotions/svg/pirate.svg"],
.d img[src="/images/v2/emotions/pirate.png"] {
  content: var(--emoji-image-pirate);
}

.d img[src="/images/emotions/svg/sick.svg"],
.d img[src="/images/v2/emotions/sick.png"] {
  content: var(--emoji-image-sick);
}

.d img[src="/images/emotions/svg/smiley.svg"],
.d img[src="/images/v2/emotions/smiley.png"] {
  content: var(--emoji-image-smiley);
}

.d img[src="/images/emotions/svg/tired.svg"],
.d img[src="/images/v2/emotions/tired.png"] {
  content: var(--emoji-image-tired);
}

.d img[src="/images/emotions/svg/tongue.svg"],
.d img[src="/images/v2/emotions/tongue.png"] {
  content: var(--emoji-image-tongue);
}

.d img[src="/images/emotions/svg/wink.svg"],
.d img[src="/images/v2/emotions/wink.png"] {
  content: var(--emoji-image-wink);
}

.d img[src="/images/emotions/svg/zip_mouth.svg"],
.d img[src="/images/v2/emotions/zip_mouth.png"] {
  content: var(--emoji-image-zip_mouth);
}
