.d .forums-committee .threads-list .thread-info-wrap {
    display: inline;
}

.d .t-show {
    display: none;
}

.d .forums-committee a {
    text-decoration: none;
}

.d .forums-committee .title > li,
.d .forums-committee .thread > li,
.d .forums-committee .thread-name-wrap .icon-wrap {
    float: left;
}

.d .forums-committee .threads-list .thread-name-wrap,
.d .forums-committee .thread > li,
.d .forums-committee .thread-name-wrap .icon-wrap,
.d .forums-committee .threads-list .thread-pages {
    margin-bottom: -2px;
    height: 31px;
    line-height: 30px;
}

.d .forums-committee .threads-list .thread-pages {
    white-space: nowrap;
}

.d .forums-committee .threads-list {
    overflow: hidden;
    width: 100%;
}

.d .forums-committee .threads-list > li {
    border-top: 1px solid #FFF;
	border-top-color: var(--default-panel-divider-inner-side-color);
    border-bottom: 1px solid #CCC;
	border-bottom-color: var(--default-panel-divider-outer-side-color);
}

.d .forums-committee .threads-list > li:first-child {
    border-top: none;
}

.d .forums-committee .threads-list > li.last {
    border-bottom: none;
}

.d .forums-committee .thread-name-wrap .icon-wrap {
    width: 30px;
    text-align: center;
}

.d .forums-committee .title > li.thread-name {
    width: 399px;
}

.d .forums-committee .title > li.last-post {
    width: 95px;
}

.d .forums-committee.ad .title > li.thread-name {
	width: 655px;
}

.d .bugs-issues .forums-committee .title > li.thread-name {
	width: 348px;
}

.d .forums-committee li.rating {
    width: 56px;
}

.d .forums-committee.ad li.rating,
.d .forums-committee.ad li.posts,
.d .forums-committee.ad li.last-post {
	display: none;
}

.d .forums-committee.ad .title > li.starter {
    border-right: none;
}

.d .forums-committee li.posts {
    width: 59px;
}

.d .forums-committee .threads-list .thread-name-wrap .thread-name {
    display: block;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
	color: var(--forum-row-color);
}

.d .forums-committee.ad .threads-list .thread-name-wrap .thread-name {
	max-width: 618px;
}

.d .bugs-issues .forums-committee .threads-list .thread-name-wrap .thread-name {
	max-width: 212px;
}

.d .forums-committee .threads-list > li.new .thread-name-wrap .thread-name {
    color: #333;
    color: var(--forum-new-row-color);
}

.d .forums-committee .threads-list > li.new .thread-name-wrap .thread-name:hover {
    color: #999;
	color: var(--forum-row-color);
}

.d .forums-committee li.starter,
.d .forums-committee li.last-post {
    width: 106px;
}

.d .forums-committee .title > li.rating,
.d .forums-committee .title > li.posts,
.d .forums-committee .title > li.starter,
.d .forums-committee .title > li.last-post,
.d .bugs-issues .forums-committee li.assigned {
    padding-left: 10px;
}

.d .forums-committee li.assigned {
    display: none;
}

.d .bugs-issues .forums-committee li.assigned {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 107px;
}

.d .bugs-issues .forums-committee li.assigned.title-divider.divider-spiky {
    overflow: visible;
}

.d .forums-committee .thread > li.starter,
.d .forums-committee .thread > li.last-post {
    padding: 0 5px;
}

.d .forums-committee .thread > li.rating,
.d .forums-committee .thread > li.posts {
    padding-right: 10px;
}

.d .forums-committee .thread > li.rating,
.d .forums-committee .thread > li.posts {
    text-align: right;
}

.d .forums-committee .thread > li.rating,
.d .forums-committee .thread > li.posts,
.d .forums-committee .thread > li.starter,
.d .forums-committee .thread-name-wrap .icon-wrap,
.d .bugs-issues .forums-committee li.assigned {
    border-right: 1px solid #CCC;
	border-right-color: var(--default-panel-divider-outer-side-color);
}

.d .forums-committee .threads-list .thread {
    border-left: 1px solid #CCC;
	border-left-color: var(--default-panel-divider-outer-side-color);
}

.d .forums-committee .thread > li.rating,
.d .forums-committee .thread > li.posts,
.d .forums-committee .thread > li.starter,
.d .forums-committee .thread > li.last-post,
.d .forums-committee .threads-list .thread-name-wrap .thread-name,
.d .bugs-issues .forums-committee li.assigned {
    border-left: 1px solid #FFF;
	border-left-color: var(--default-panel-divider-inner-side-color);
}

.d .forums-committee .thread > li.starter,
.d .forums-committee .thread > li.last-post {
    text-align: center;
}

.d .forums-committee .title > li.thread-name,
.d .forums-committee .title > li.rating,
.d .forums-committee .title > li.posts,
.d .forums-committee .title > li.starter,
.d .bugs-issues .forums-committee .title > li.assigned {
    border-right: 1px solid #444;
}

.d .forums-committee .title > li.rating,
.d .forums-committee .title > li.posts,
.d .forums-committee .title > li.starter,
.d .forums-committee .title > li.last-post,
.d .bugs-issues .forums-committee .title > li.assigned {
    border-left: 1px solid transparent;
}

.d .bug-tracing-wrap .legend-list > li.clear,
.d .forums-committee .title > li.clear,
.d .forums-committee .thread > li.clear,
.d.without-sidebar .bug-tracing-wrap .legend-list > li.clear,
.d.without-sidebar .forums-committee .title > li.clear,
.d.without-sidebar .forums-committee .thread > li.clear {
    float: none;
    font-size: 0;
    line-height: 0;
    border: none;
    padding-left: 0;
    height: 0;
    width: 0;
}

.d .forums-committee-wrap .forums-committee .threads-list .icon-wrap {
    font-size: 0;
}

.d .bug-tracing-wrap .legend-list > li {
    float: left;
    width: 259px;
    box-sizing: border-box;
    border: 1px solid #FFF;
	border-color: var(--default-panel-divider-inner-side-color);
    border-right-color: #CCC;
    border-right-color: var(--default-panel-divider-outer-side-color);
    border-bottom-color: #CCC;
    border-bottom-color: var(--default-panel-divider-outer-side-color);
    height: 34px;
    line-height: 34px;
}

.d .bug-tracing-wrap .legend-list > li.d-first {
    border-left: 0;
}

.d .bug-tracing-wrap .legend-list > li.d-last {
    border-right: 0;
}

.d .bug-tracing-wrap .legend-list > li.d-top {
    border-top: 0;
}

.d .bug-tracing-wrap .legend-list > li.d-bottom {
    border-bottom: 0;
}

.d .bug-tracing-wrap .legend-list > li.t-yellow,
.d .bug-tracing-wrap .legend-list > li .t-yellow {
    color: #CA9800;
    text-decoration: none;
}

.d .bug-tracing-wrap .legend-list > li.t-yellow:hover,
.d .bug-tracing-wrap .legend-list > li .t-yellow.h:hover {
    color: #999;
	color: var(--default-gray-9-color);
}

.d .bug-tracing-wrap .legend-list > li .issue-all-icon {
    filter: drop-shadow(0 1px 0 #fff);
    filter: var(--default-icon-filter);
    background-position: left top;
}

.d .logged-out-sidebar.logged-out .bug-tracing-wrap .legend-list > li {
    width: 324px;
}


.d .logged-out-sidebar.logged-out .forums-committee .title > li.thread-name {
    width: 591px;
}

.d .logged-out-sidebar.logged-out .forums-committee.ad .title > li.thread-name {
    width: 846px;
}

.d .logged-out-sidebar.logged-out .bugs-issues .forums-committee .title > li.thread-name {
    width: 540px;
}

.d .forums-committee .threads-list .thread-name-wrap {
    float: none;
    display: inline-flex;
}

.d .forums-committee .threads-list .thread-name-wrap .title-flex-parent {
    display: flex;
    max-width: 368px;
}

.d .bugs-issues .forums-committee .threads-list .thread-name-wrap .title-flex-parent {
    max-width: 318px;
}

.d .logged-out-sidebar.logged-out .forums-committee .threads-list .thread-name-wrap .title-flex-parent {
    max-width: 560px;
}

.d .logged-out-sidebar.logged-out .forums-committee.ad .threads-list .thread-name-wrap .title-flex-parent {
    max-width: 826px;
}

.d .logged-out-sidebar.logged-out .bugs-issues .forums-committee .threads-list .thread-name-wrap .title-flex-parent {
    max-width: 510px;
}

.d .forums-committee .threads-list .thread-pages {
    white-space: nowrap;
}

.d .forums-committee-wrap .forums-committee .threads-list > li .thread-name-wrap .thread-name {
    max-width: none;
}

.d .logged-out-sidebar.logged-out .bugs-issues .forums-committee .title > li.assigned {
    border-right: 1px solid #CCC;
	border-right-color: var(--default-panel-divider-outer-side-color);
}

.d .forums-committee .new .icon-wrap i[class$="-icon"] {
    filter: none;
    filter: var(--forum-new-row-icon-filter);
}

.d .forums-committee .new .icon-wrap i.issue-fixed-icon,
.d .forums-committee .new .icon-wrap i.issue-confirmed-icon,
.d .forums-committee .new .icon-wrap i.issue-info-required-icon,
.d .forums-committee .new .icon-wrap i.issue-unconfirmed-icon,
.d .forums-committee .new .icon-wrap i.issue-all-icon {
    filter: none;
}

.d .forums-committee .icon-wrap i.issue-closed-icon,
.d .forums-committee .new .icon-wrap i.issue-closed-icon {
    filter: none;
    filter: var(--issue-status-closed-icon-filter);
}

@media screen and (max-width: 784px) {
    .r.without-sidebar .t-hide {
        display: none;
    }

    .r.without-sidebar .t-show {
        display: inline-block;
    }

    .r.without-sidebar span.t-show {
        display: inline;
    }

    .r.without-sidebar div.t-show {
        display: block;
    }

    .r.without-sidebar .breadcrumbs > li .touch-name {
        display: inline-block;
    }

    .r.without-sidebar .breadcrumbs > li .name {
        display: none;
    }

    .r.without-sidebar .breadcrumbs > li {
        height: 34px;
        line-height: 34px;
    }

    .r.without-sidebar .breadcrumbs > li.active .arrow-l,
    .r.without-sidebar .breadcrumbs > li.active .arrow-r,
    .r.without-sidebar .breadcrumbs > li:hover .arrow-l,
    .r.without-sidebar .breadcrumbs > li:hover .arrow-r {
        height: 34px;
    }

    .r.without-sidebar .forums-committee.ad .threads-list .arrow-999 {
        display: none;
    }

    .r.without-sidebar .forums-committee .threads-list > li .arrow-999 {
        padding: 11px 10px;
        margin: 0;
        background-position: center center;
    }

    .r.without-sidebar .forums-committee .threads-list .thread-name-wrap,
    .r.without-sidebar .forums-committee .thread > li,
    .r.without-sidebar .forums-committee .thread-name-wrap .icon-wrap,
    .r.without-sidebar .forums-committee .threads-list .thread-pages {
        margin-bottom: 0;
        height: 34px;
        line-height: 34px;
    }

    .r.without-sidebar .forums-committee .threads-list .thread-name-wrap .thread-name {
        max-width: none;
        width: 307px;
    }

    .r.without-sidebar .forums-committee.ad .threads-list .thread-name-wrap .thread-name {
        max-width: none;
        width: 339px;
    }

    .r.without-sidebar .bugs-issues .forums-committee li.assigned {
        border-left: 0;
        width: 182px;
    }

    .r.without-sidebar .forums-committee .thread > li.rating,
    .r.without-sidebar .forums-committee .thread > li.posts,
    .r.without-sidebar .forums-committee .thread > li.starter,
    .r.without-sidebar .forums-committee .thread > li.last-post,
    .r.without-sidebar .bugs-issues .forums-committee li.assigned {
        border-top: 1px solid #CCC;
        border-top-color: var(--default-panel-divider-outer-side-color);
    }

    .r.without-sidebar .forums-committee .thread > li.rating,
    .r.without-sidebar .forums-committee .thread > li.posts,
    .r.without-sidebar .forums-committee .thread > li.starter,
    .r.without-sidebar .forums-committee .thread > li.last-post {
        padding-left: 10px;
        padding-right: 0;
        text-align: left;
    }

    .r.without-sidebar .bugs-issues .forums-committee .thread > li.posts {
        border-right-color: #FFF;
        border-right-color: var(--default-panel-divider-inner-side-color);
    }

    .r.without-sidebar .forums-committee .thread > li.rating,
    .r.without-sidebar .forums-committee .threads-list .thread {
        border-left: none;
    }

    .r.without-sidebar .forums-committee .threads-list .thread-pages a {
        padding: 0 15px;
    }

    .r.without-sidebar .forums-committee .threads-list .thread-pages.go-to-page-mobile {
        display: flex;
    }

    .r.without-sidebar .forums-committee .threads-list .thread-pages {
        padding-left: 10px;
        width: 376px;
        border-top: 1px solid #CCC;
        border-top-color: var(--default-panel-divider-outer-side-color);
        font-weight: bold;
    }

    .r.without-sidebar .forums-committee .threads-list .ui-accordion-header-active,
    .r.without-sidebar .forums-committee .threads-list .ui-accordion-content-active {
        background-color: #FFF;
        background-color: var(--default-bg-panel-active-color);
    }

    .r.without-sidebar .forums-committee .threads-list .thread-info-wrap {
        float: left;
    }

    .r.without-sidebar div.t-show,
    .r.without-sidebar .forums-committee .threads-list .thread-info-wrap {
        display: block;
    }

    .r.without-sidebar .forums-committee .thread > li.posts,
    .r.without-sidebar .forums-committee .thread > li.last-post {
        border-right: 0;
        border-left: 0;
    }

    .r.without-sidebar .forums-committee .thread > li.starter,
    .r.without-sidebar .forums-committee .thread > li.last-post {
        border-left: none;
    }
}

@media screen and (max-width: 784px) {
    .r .content-wrapper.logged-out-sidebar {
        width: 386px;
    }

    .r .t-hide {
        display: none;
    }

    .r .t-show {
        display: inline-block;
    }

    .r span.t-show {
        display: inline;
    }

    .r div.t-show,
    .r .forums-committee .threads-list .thread-info-wrap {
        display: block;
    }

    .r .forums-committee .threads-list .thread-info-wrap {
        float: left;
    }

    .r .forums-committee .thread > li.starter,
    .r .forums-committee .thread > li.last-post {
        /*display: none;*/
        border-left: none;
    }

    .r .forums-committee li.starter img,
    .r .forums-committee li.last-post img {
        margin-bottom: -4px;
    }

    .r .forums-committee .thread > li.rating,
    .r .forums-committee .thread > li.posts,
    .r .forums-committee .thread > li.starter,
    .r .forums-committee .thread > li.last-post,
    .r .bugs-issues .forums-committee li.assigned {
        border-top: 1px solid #CCC;
	    border-top-color: var(--default-panel-divider-outer-side-color);
    }

    .r .forums-committee .thread > li.rating,
    .r .forums-committee .thread > li.starter {
        width: 181px;
    }

	.r .forums-committee .thread > li.posts,
	.r .forums-committee .thread > li.last-post {

		width: 183px;
		border-right: 0;
		border-left: 0;
	}

	.r .forums-committee.ad .thread > li.posts {
		width: 376px;
	}

    .r .forums-committee .thread > li.rating,
    .r .forums-committee .threads-list .thread {
        border-left: none;
    }

    .r .forums-committee .threads-list .thread-name-wrap {
        border-right: none;
    }

    .r .forums-committee .threads-list .thread-name-wrap,
    .r .forums-committee .thread > li,
    .r .forums-committee .thread-name-wrap .icon-wrap,
    .r .forums-committee .threads-list .thread-pages {
        margin-bottom: 0;
        height: 34px;
        line-height: 34px;
    }

    .r .forums-committee .threads-list .thread-name-wrap .thread-name {
        max-width: none;
        width: 307px;
    }

    .r .forums-committee.ad .threads-list .thread-name-wrap .thread-name {
        max-width: none;
        width: 339px;
    }

    .r .forums-committee .threads-list .ui-accordion-header {
        width: 386px;
    }

    .r .forums-committee .threads-list .ui-accordion-header-active,
    .r .forums-committee .threads-list .ui-accordion-content-active {
        background-color: #FFF;
        background-color: var(--default-bg-panel-active-color);
    }

    .r .forums-committee .thread > li.rating,
    .r .forums-committee .thread > li.posts,
    .r .forums-committee .thread > li.starter,
    .r .forums-committee .thread > li.last-post
    {
        padding-left: 10px;
        padding-right: 0;
        text-align: left;
    }

    .r .forums-committee .threads-list .thread-pages {
        padding-left: 10px;
        width: 376px;
        border-top: 1px solid #CCC;
	    border-top-color: var(--default-panel-divider-outer-side-color);
        font-weight: bold;
    }

    .r .forums-committee .threads-list .thread-pages.go-to-page-mobile {
        display: flex;
    }

    .r .forums-committee .threads-list .thread-pages a {
        padding: 0 15px;
    }

    .r .forums-committee .threads-list > li .arrow-999 {
        padding: 11px 10px;
        margin: 0;
        background-position: center center;
    }

    .r .forums-committee .threads-list > li .arrow-999:hover {
        background-image: url(/images/v2/arrow_side.png);
    }

    .r .forums-committee .threads-list > li .ui-accordion-header-active .arrow-999:hover {
        background-image: url(/images/v2/arrow_down.png);
    }

	.r .bugs-issues .forums-committee li.assigned {
		border-left: 0;
		width: 182px;
	}

	.r .bugs-issues .forums-committee .thread > li.posts {
		width: 183px;
	}

    .r .bugs-issues .forums-committee .thread > li.posts {
        border-right-color: #FFF;
        border-right-color: var(--default-panel-divider-inner-side-color);
    }

    .r .forums-committee.ad .threads-list .arrow-999 {
        display: none;
    }

    .r .bug-tracing-wrap .legend-list > li {
        width: 193px;
    }

    .r .bug-tracing-wrap .legend-list > li.t-last {
        border-right: 0;
    }

    .r .bug-tracing-wrap .legend-list > li.t-last.d-first {
        border-left: 1px solid #FFF;
	    border-left-color: var(--default-panel-divider-inner-side-color);
        border-bottom: 1px solid #CCC;
	    border-bottom-color: var(--default-panel-divider-outer-side-color);
    }

    .r .bug-tracing-wrap .legend-list > li.d-last.t-first {
        border-right: 1px solid #CCC;
	    border-right-color: var(--default-panel-divider-outer-side-color);
        border-top: 1px solid #FFF;
	    border-top-color: var(--default-panel-divider-inner-side-color);
    }

    .r .bug-tracing-wrap .legend-list > li.t-first {
        border-left: 0;
    }

    .r .logged-out-sidebar.logged-out .forums-committee .threads-list .ui-accordion-header {
        width: 578px;
    }

    .r .logged-out-sidebar.logged-out .forums-committee .thread > li.rating,
    .r .logged-out-sidebar.logged-out .forums-committee .thread > li.posts,
    .r .logged-out-sidebar.logged-out .bugs-issues .forums-committee li.assigned {
        width: 278px;
    }

    .r .logged-out-sidebar.logged-out .forums-committee .threads-list .thread-pages {
        width: 568px;
    }

    .r .logged-out-sidebar.logged-out .forums-committee.ad .threads-list .thread-name-wrap .thread-name {
        width: 530px;
    }

    .r .logged-out-sidebar.logged-out .bug-tracing-wrap .legend-list > li {
        width: 288px;
    }

    .r .logged-out-sidebar.logged-out .forums-committee .threads-list .thread-name-wrap .thread-name {
        width: 496px;
    }

}

@media screen and (max-width: 600px) {
    .r.without-sidebar .forums-committee .threads-list .thread-name-wrap .thread-name {
        width: 240px;
    }

    .r.without-sidebar .forums-committee.ad .threads-list .thread-name-wrap .thread-name {
        max-width: none;
        width: 273px;
    }
}

@media screen and (max-width: 386px) {
    .r .forums-committee .threads-list .ui-accordion-header {
        width: 320px;
    }

    .r .forums-committee .threads-list .thread-name-wrap .thread-name {
        width: 240px;
    }

    .r .forums-committee.ad .threads-list .thread-name-wrap .thread-name {
        max-width: none;
        width: 273px;
    }

    .r .forums-committee .threads-list .thread-pages {
        width: 310px;
    }

    .r .forums-committee .threads-list .thread-pages a {
        padding: 0 14px;
    }

    .r .forums-committee .thread > li.rating,
    .r .forums-committee .thread > li.starter {
        width: 148px;
    }

	.r .forums-committee .thread > li.posts,
	.r .forums-committee .thread > li.last-post {
		width: 150px;
	}

	.r .forums-committee.ad .thread > li.posts {
		width: 310px;
	}

    .r .bugs-issues .forums-committee li.assigned {
        width: 149px;
	    border-left: 0;
    }

	.r .bugs-issues .forums-committee .thread > li.posts {
		width: 150px;
	}

    .r .bug-tracing-wrap .legend-list > li.t-last.d-first,
    .r .bug-tracing-wrap .legend-list > li.d-last.t-first,
    .r .bug-tracing-wrap .legend-list > li {
        border-left: 0;
        border-right: 0;
    }

    .r .bug-tracing-wrap .legend-list > li {
        width: 320px;
    }

    .r .bug-tracing-wrap .legend-list > li.t-first.d-bottom {
        border-bottom: 1px solid #CCC;
	    border-bottom-color: var(--default-panel-divider-outer-side-color);
    }

    .r .bug-tracing-wrap .legend-list > li.d-top.t-last {
        border-top: 1px solid #FFF;
	    border-top-color: var(--default-panel-divider-inner-side-color);
    }
}
