:root .dark-mode {
    --forums-thread-pinned-post-divider-background: #26c9ff0d;
    --forums-thread-parent-post-divider-background: #666;
    --forums-thread-pinned-post-actions-background: linear-gradient(to bottom, #26c9ff0d 0%, #33333322 100%);
    --forums-thread-pinned-post-actions-hover-background: linear-gradient(to bottom, #33333322 0%, #26c9ff0d 100%);
    --forums-thread-legend-list-bugs-closed: #bbb;
    --forums-thread-quote-border-color: #555;
    --forums-thread-copy-tooltip-arrow-border-color: #444;
    --forums-thread-copy-tooltip-arrow-bg-color: #222;

    --forums-table-color: #ddd;
    --forums-table-border-color: #ddd;

    --forum-row-color: #bbb;
    --forum-new-row-color: #fff;
    --forum-row-qty-color: #fff;
    --forum-new-row-icon-filter: invert(41%) sepia(99%) saturate(516%) hue-rotate(10deg) brightness(96%) contrast(88%);

    --breadcrumbs-border-bottom-color: #222;
    --breadcrumbs-border-top-color: #555;
    --breadcrumbs-bg-gradient: linear-gradient(180deg, #666666 0%, #333333 100%);
    --breadcrumbs-text-shadow: 0 0 2px #000000;
    --breadcrumbs-color: #FFFFFF;
    --breadcrumbs-arrow-shadow-left-color: #222;
    --breadcrumbs-arrow-shadow-right-color: #444;
    --breadcrumbs-active-bg-gradient: linear-gradient(180deg, #222222 0%, #444444 100%);

    --breadcrumbs-dark-border-bottom-color: var(--breadcrumbs-border-bottom-color);
    --breadcrumbs-dark-border-top-color: var(--breadcrumbs-border-top-color);
    --breadcrumbs-dark-bg-gradient: var(--breadcrumbs-bg-gradient);
    --breadcrumbs-dark-text-shadow: var(--breadcrumbs-text-shadow);
    --breadcrumbs-dark-color: var(--breadcrumbs-color);
    --breadcrumbs-dark-arrow-shadow-left-color: var(--breadcrumbs-arrow-shadow-left-color);
    --breadcrumbs-dark-arrow-shadow-right-color: var(--breadcrumbs-arrow-shadow-right-color);
    --breadcrumbs-dark-active-bg-gradient: var(--breadcrumbs-active-bg-gradient);

    --issue-status-black-color: #FFF;
    --issue-status-black-text-shadow: 0 0 2px #000000;
    --issue-status-black-hover-color: #FFF;
    --issue-status-black-active-linear-gradient: linear-gradient(0deg, #666666 0%, #333333 100%);
    --issue-status-black-bg-color: #555;
    --issue-status-black-box-shadow: 0 1px 2px #00000080;
    --issue-status-black-title-border-bottom: 1px solid #222;
    --issue-status-black-hover-bg-color: #00000066;
    --issue-status-black-viewport-border-top: none;

    --issue-status-color: var(--issue-status-black-color);
    --issue-status-text-shadow: var(--issue-status-black-text-shadow);
    --issue-status-hover-color: var(--issue-status-black-hover-color);
    --issue-status-active-linear-gradient: var(--issue-status-black-active-linear-gradient);
    --issue-status-bg-color: var(--issue-status-black-bg-color);
    --issue-status-box-shadow: var(--issue-status-black-box-shadow);
    --issue-status-title-border-bottom: var(--issue-status-black-title-border-bottom);
    --issue-status-hover-bg-color: var(--issue-status-black-hover-bg-color);

    --issue-status-black-scrollbar-color: #666 #333;
    --issue-status-black-scrollbar-track-bg-color: #333;
    --issue-status-black-scrollbar-thumb-bg-color: #666;
    --issue-status-black-scrollbar-thumb-border-color: #333;
    --issue-status-black-scrollbar-corner-bg-color: #333;
    --issue-status-black-hover-scrollbar-color: #888 #333;
    --issue-status-black-hover-scrollbar-thumb-bg-color: #888;

    --issue-status-scrollbar-color: var(--issue-status-black-scrollbar-color);
    --issue-status-scrollbar-track-bg-color: var(--issue-status-black-scrollbar-track-bg-color);
    --issue-status-scrollbar-thumb-bg-color: var(--issue-status-black-scrollbar-thumb-bg-color);
    --issue-status-scrollbar-thumb-border-color: var(--issue-status-black-scrollbar-thumb-border-color);
    --issue-status-scrollbar-corner-bg-color: var(--issue-status-black-scrollbar-corner-bg-color);
    --issue-status-hover-scrollbar-thumb-bg-color: var(--issue-status-black-hover-scrollbar-thumb-bg-color);
}
