.d .send-cash .send-cash-btn.torn-btn,
.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"],
.d #react-root .bookie-popular-wrap .input-btn,
.d #gymroot [class*="gymDetailsWrapper___"] [class*="gymDetails___"] [class*="actionWrapper___"] [class*="button___"] {
    font-family: "Fjalla One", Arial, serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    color: #888;
    color: var(--btn-color);
    text-shadow: 0 1px 0 #FFFFFF40;
    text-shadow: var(--btn-text-shadow);
    background: linear-gradient(180deg, #DEDEDE 0%, #F7F7F7 25%, #CFCFCF 60%, #E7E7E7 78%, #D9D9D9 100%);
    background: var(--btn-background);
    border: 1px solid #aaa;
    border: var(--btn-border);
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
}

.d .send-cash .send-cash-btn.torn-btn,
.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"] {
    height: 24px;
    line-height: 24px;
}

.d #react-root .bookie-popular-wrap .input-btn {
    line-height: 16px;
}

.d #gymroot [class*="gymDetailsWrapper___"] [class*="gymDetails___"] [class*="actionWrapper___"] [class*="cancel___"] {
    padding: 10px 3px;
}

.d .send-cash .send-cash-btn.torn-btn:hover,
.d .send-cash .send-cash-btn.torn-btn:focus,
.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"]:hover,
.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"]:focus,
.d #react-root .bookie-popular-wrap .input-btn:focus,
.d #react-root .bookie-popular-wrap .input-btn:hover,
.d #gymroot [class*="gymDetailsWrapper___"] [class*="gymDetails___"] [class*="actionWrapper___"] [class*="button___"]:hover,
.d #gymroot [class*="gymDetailsWrapper___"] [class*="gymDetails___"] [class*="actionWrapper___"] [class*="button___"]:focus {
    color: #444;
    color: var(--btn-hover-color);
    text-shadow: 0 0 5px #FFFFFF;
    text-shadow: var(--btn-hover-text-shadow);
    background: linear-gradient(180deg, #CCCCCC 0%, #FFFFFF 25%, #BBBBBB 60%, #EEEEEE 78%, #BBBBBB 100%);
    background: var(--btn-hover-background);
    border: 1px solid #999;
    border: var(--btn-hover-border);
}

.d .send-cash .send-cash-btn.torn-btn:active,
.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"]:active,
.d #react-root .bookie-popular-wrap .input-btn:active,
.d #gymroot [class*="gymDetailsWrapper___"] [class*="gymDetails___"] [class*="actionWrapper___"] [class*="button___F1akP"]:active {
    color: #444;
    color: var(--btn-active-color);
    text-shadow: 0 0 5px #FFFFFF;
    text-shadow: var(--btn-active-text-shadow);
    background: linear-gradient(180deg, #CCCCCC 0%, #FFFFFF 100%);
    background: var(--btn-active-background);
    border: none;
    border: var(--btn-active-border);
    box-shadow: inset 0 1px 0 #00000012;
    box-shadow: var(--btn-active-box-shadow);
    padding: 0 11px;
    height: 34px;
    line-height: 36px;
}

.d .send-cash .send-cash-btn.torn-btn:disabled,
.d .send-cash .send-cash-btn.torn-btn.disabled,
.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"][class*="disabled___"],
.d #react-root .bookie-popular-wrap .input-btn.disabled,
.d #gymroot [class*="gymDetailsWrapper___"] [class*="gymDetails___"] [class*="actionWrapper___"] [class*="button___"]:disabled {
    color: #bbb;
    color: var(--btn-disable-color);
    text-shadow: 0 -1px 0 #FFFFFF73;
    text-shadow: var(--btn-disable-text-shadow);
    background: linear-gradient(180deg, #CCCCCC 0%, #FFFFFF 100%);
    background: var(--btn-disable-background);
    border: none;
    border: var(--btn-disable-border);
    box-shadow: inset 0 1px 0 #00000012;
    box-shadow: var(--btn-disable-box-shadow);
    padding: 0 11px;
    height: 34px;
    line-height: 36px;
}

.d #react-root .bookie-popular-wrap .input-btn:active,
.d #react-root .bookie-popular-wrap .input-btn.disabled {
    line-height: 18px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.d .send-cash .send-cash-btn.torn-btn:active,
.d .send-cash .send-cash-btn.torn-btn:disabled,
.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"]:active,
.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"][class*="disabled___"] {
    height: 24px;
    line-height: 26px;
}

.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="inputWrapper___"] [class*="input___"] {
    line-height: 22px;
}

.d #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"][class*="disabled___"] {
    cursor: default;
}

body.d .items-wrap.view-3 .actions-main-wrap .amount input[type=text],
body.d .items-wrap.view-4 .actions-main-wrap .amount input[type=text] {
    padding: 4px 5px;
}

.d #accountrecoveryroot .account-recovery-wrap .input-text {
    height: 34px;
    min-height: 34px;
}

.d #accountrecoveryroot .account-recovery-wrap .forgot-password-step .torn-btn {
    line-height: 24px;
}

.d #accountrecoveryroot .account-recovery-wrap .forgot-password-step .torn-btn:active {
    line-height: 26px;
}

.d #bazaarRoot [class*="removeAmountInput___"] {
    padding: 4px 5px;
}

.d #bazaarRoot [class*="price___"] input.input-money {
    height: 24px;
}

.d #bazaarRoot [class*="formInput___"] {
    padding: 9px 10px;
}

.d #react-root [class*="password___"] {
    padding: 4px 10px;
    line-height: 24px;
}

.d #react-root [class*="signButton___"] {
    height: 34px;
}

.d #react-root .bookie-popular-wrap .search-input {
    height: 22px;
}

.d #events-root [class*="submitEvents___"],
.d #events-root [class*="submitPlayers___"] {
    height: 34px;
    padding: 0 10px;
}

.d #events-root [class*="submitEvents___"]:active,
.d #events-root [class*="submitEvents___"]:disabled,
.d #events-root [class*="submitPlayers___"]:active,
.d #events-root [class*="submitPlayers___"]:disabled {
    padding: 0 11px;
}

/* Styles for DARK containers */

.d #header-root .torn-btn,
.d #react-root [class*="appWrapper___"] .torn-btn {
    color: #ddd;
    text-shadow: 0 0 2px #00000073;
    background: linear-gradient(180deg, #000000 0%, #555555 25%, #111111 60%, #333333 78%, #000000 100%);
    border: 1px solid #444;
}

.d #header-root .torn-btn:hover,
.d #header-root .torn-btn:focus,
.d #react-root [class*="appWrapper___"] .torn-btn:hover,
.d #react-root [class*="appWrapper___"] .torn-btn:focus {
    color: #fff;
    text-shadow: 0 0 5px #FFFFFF40;
    background: linear-gradient(180deg, #111111 0%, #666666 25%, #222222 60%, #444444 78%, #111111 100%);
    border: 1px solid #444;
}

.d #header-root .torn-btn:active,
.d #react-root [class*="appWrapper___"] .torn-btn:active {
    color: #ddd;
    text-shadow: 0 0 2px #00000073;
    background:  linear-gradient(180deg, #000000 0%, #333333 100%);
    border: none;
    box-shadow: inset 0 1px 0 #00000012;
}

.d #header-root .torn-btn:disabled,
.d #react-root [class*="appWrapper___"] .torn-btn:disabled {
    color: #555;
    text-shadow: none;
    background: linear-gradient(180deg, #000000 0%, #333333 100%);
    border: none;
    box-shadow: inset 0 -1px 0 #FFFFFF12;
}

body.d [class*="popupWrapper___"] [class*="popup___"] [class*="loginWrapper___"] [class*="loginBtn___"] {
    height: 34px;
    line-height: 34px;
}

body.d [class*="popupWrapper___"] [class*="popup___"] [class*="loginWrapper___"] [class*="loginBtn___"]:active,
body.d [class*="popupWrapper___"] [class*="popup___"] [class*="loginWrapper___"] [class*="loginBtn___"]:disabled {
    height: 34px;
    line-height: 36px;
}

.d #tokenshoproot [class*="honors___"] [class*="button___"],
.d #tokenshoproot [class*="backdrops___"] [class*="button___"],
.d #tokenshoproot [class*="hairstyles___"] [class*="button___"] {
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
}

.d #tokenshoproot [class*="honors___"] [class*="button___"]:active,
.d #tokenshoproot [class*="honors___"] [class*="button___"].disabled,
.d #tokenshoproot [class*="backdrops___"] [class*="button___"]:active,
.d #tokenshoproot [class*="backdrops___"] [class*="button___"].disabled,
.d #tokenshoproot [class*="hairstyles___"] [class*="button___"]:active,
.d #tokenshoproot [class*="hairstyles___"] [class*="button___"].disabled {
    padding: 0 11px;
    line-height: 26px;
}

.d #bbc-editor .actions .submit-editor-button.torn-btn {
    line-height: 34px;
    box-sizing: border-box;
}

.d #bbc-editor .actions .submit-editor-button.torn-btn:disabled,
.d #bbc-editor .actions .submit-editor-button.torn-btn:active {
    line-height: 36px;
}

.d #bbc-editor .actions .controls {
    margin-top: 10px;
}

.d #bbc-editor .actions {
    padding: 10px;
}

body.d .content [class*="tradingSection___"] .input-money:not([type='file']):not([type='submit']):not([type='button']) {
    padding: 9px 10px;
}

body.d .content [class*="tradingSection___"] [class*="inputValue___"] {
    height: auto;
}

body.d .content [class*="tradingWrap___"] button[class*="tradingButton___"] {
    padding: 0 10px;
}

body.d .content [class*="tradingWrap___"] button[class*="tradingButton___"]:active,
body.d .content [class*="tradingWrap___"] button[class*="tradingButton___"].disabled {
    padding: 0 11px;
}

body.d .account-recovery-wrap .forgot-password-form-wrap .nav-link.cancel {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

body.d .bookie-popular-wrap .bets-wrap .bet .bet-cell.input-wrap {
    line-height: 33px;
}

.d #inventory-container .small-select-menu-wrap .select-wrap.dropdown-new .ui-selectmenu,
.d #inventory-container .small-select-menu-wrap .select-wrap.dropdown-new select {
    height: 34px;
}

.d #inventory-container .small-select-menu-wrap .select-wrap.dropdown-new .ui-selectmenu-status {
    height: 34px;
    line-height: 34px;
}

.d #inventory-container .small-select-menu-wrap .select-wrap.dropdown-new .ui-selectmenu-menu li a {
    height: 33px;
    line-height: 33px;
}

@media screen and (max-width: 784px) {
    .r #accountrecoveryroot .account-recovery-wrap .forgot-password-step .torn-btn {
        line-height: 34px;
    }

    .r #accountrecoveryroot .account-recovery-wrap .forgot-password-step .torn-btn:active {
        line-height: 36px;
    }

    .r #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"],
    .r .send-cash .send-cash-btn.torn-btn {
        height: 34px;
        line-height: 34px;
    }

    .r .send-cash .send-cash-btn.torn-btn:active,
    .r .send-cash .send-cash-btn.torn-btn:disabled,
    .r #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"]:active,
    .r #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="button___"][class*="disabled___"] {
        height: 34px;
        line-height: 36px;
    }

    .r #gymroot [class*="properties___"] [class*="propertyContent___"] [class*="inputWrapper___"] [class*="input___"] {
        line-height: 32px;
    }

    .r #bazaarRoot [class*="removeAmountInput___"] {
        padding: 9px 5px;
    }

    .r #bazaarRoot [class*="priceMobile___"] input.input-money {
        height: 34px;
    }

    .r #bazaarRoot [class*="formInput___"] {
        padding: 9px 10px;
    }

    .r #react-root [class*="signButton___"] {
        height: 34px;
    }

    .r #react-root .bookie-popular-wrap .search-input {
        height: 32px;
    }

    .r #inventory-container .items-wrap .items-footer .small-select-menu-wrap + .btn-wrap .torn-btn,
    .r #inventory-container .items-wrap .items-footer .small-select-menu-wrap + .btn-wrap + .desc + .clear-action {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {

    .r #accountrecoveryroot .account-recovery-wrap .search-for-account .buttons .torn-btn {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 386px) {

    .r #inventory-container .items-wrap .items-footer .small-select-menu-wrap + .btn-wrap .torn-btn,
    .r #inventory-container .items-wrap .items-footer .small-select-menu-wrap + .btn-wrap + .desc + .clear-action {
        margin-top: 10px;
    }
}