.d .input-money-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-collapse: separate;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.d .input-money-group .input-money-symbol,
.d .input-money-group input.input-money:not([type='file']):not([type='submit']):not([type='button']) {
    border: 1px solid #CCC;
    border-color: var(--input-money-border-color);
    padding: 9px 5px;
    border-radius: 5px;
    line-height: 14px;
}

.d .input-money-group .input-money-symbol {
    padding: 9px;
}

.d .input-money-group .input-money-symbol input.wai-btn {
    width: 0;
    height: 0;
}

.d .input-money-group input.input-money:not([type='file']):not([type='submit']):not([type='button']) {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: #000;
    color: var(--input-money-color);
    background: #fff;
    background: var(--input-money-background-color);
}

.d .input-money-group.no-max-value input.input-money:not([type='file']):not([type='submit']):not([type='button']) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.d .input-money-group.no-max-value .input-money-symbol {
    display: none;
}

.d .input-money-group input.input-money.color-transparent {
    color: transparent;
}

.d .input-money-group .html-chars {
    position: absolute;
    left: 38px;
    top: 7px;
    pointer-events: none;
    overflow: hidden;
    padding-right: 2px;
    display: none;
}

.d .input-money-group .html-chars .html-char {
    float: right;
    position: relative;
    min-height: 100%;
}

.d .input-money-group .html-chars .html-char.cursor-active:before {
    content: '';
    display: block;
    position: absolute;
    right: -1px;
    top: -1px;
    left: auto;
    bottom: -1px;
    border-right: 1px solid #000;
    -webkit-animation: input-money-cursor 1s linear 0s infinite normal;
    animation: input-money-cursor 1s linear 0s infinite normal;
}

@-webkit-keyframes input-money-cursor {
    0% {
        opacity: 1;
    }
    49.9% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99.9% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes input-money-cursor {
    0% {
        opacity: 1;
    }
    49.9% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99.9% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.d .input-money-group input.input-money:-webkit-autofill,
.d .input-money-group input.input-money:-webkit-autofill:active {
    border: 1px solid;
    border-color: #ccc;
    border-color: var(--input-money-border-color);
    -webkit-text-fill-color: #000;
    -webkit-text-fill-color: var(--input-money-color);
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.d.dark-mode .input-money-group input.input-money:-webkit-autofill,
.d.dark-mode .input-money-group input.input-money:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #000 inset;
}

.d .input-money-group input.input-money:-webkit-autofill:hover {
    border-color: #999;
    border-color: var(--input-money-hover-border-color);
}

.d .input-money-group input.input-money:-webkit-autofill:focus {
    border-color: #1864AB80;
    border-color: var(--input-money-focus-border-color);
}

.d .input-money-group.error input.input-money:not([type='file']):not([type='submit']):not([type='button']),
.d .input-money-group input.input-money:not([type='file']):not([type='submit']):not([type='button']).error {
    background: linear-gradient(0deg, #E54C1930 0%, #E54C1930 100%), linear-gradient(0deg, #fff 0%, #fff 100%);
    background: linear-gradient(0deg, #E54C1930 0%, #E54C1930 100%), var(--input-background-color);
}

.d .input-money-group input.input-money:not([type='file']):not([type='submit']):not([type='button']):hover {
    border-color: #999;
    border-color: var(--input-money-hover-border-color);
    box-shadow: none;
    box-shadow: var(--input-money-hover-box-shadow);
}

.d .input-money-group input.input-money:not([type='file']):not([type='submit']):not([type='button']):focus {
    border-color: #1864AB80;
    border-color: var(--input-money-focus-border-color);
    box-shadow: none;
    box-shadow: var(--input-money-focus-box-shadow);
}

.d .input-money-group input.input-money:not([type='file']):not([type='submit']):not([type='button'])[readonly],
.d .input-money-group input.input-money:not([type='file']):not([type='submit']):not([type='button'])[disabled],
.d .input-money-group.error input.input-money:not([type='file']):not([type='submit']):not([type='button'])[readonly],
.d .input-money-group input.input-money[readonly].error:not([type='file']):not([type='submit']):not([type='button']) {
    background: #f2f2f2;
    background: var(--input-money-disabled-background-color);
    color: #999;
    color: var(--input-money-disabled-color);
    border-color: #555;
    border-color: var(--input-money-disabled-border-color);
}

.d .input-money-group .input-money-symbol {
    text-align: center;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color:#999999;
    color: var(--input-money-currency-color);
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.65);
    text-shadow: var(--input-money-currency-text-shadow);
    cursor: pointer;
    background: #ffffff;
    background: var(--input-money-currency-background-color);
    background: linear-gradient(to bottom,  #ffffff 0%, #dddddd 100%);
    background: var(--input-money-currency-gradient);
}

.d .input-money-group .input-money-symbol:hover {
    color: #666666;
    color: var(--input-money-currency-hover-color);
    background: #dddddd;
    background: var(--input-money-currency-hover-background-color);
    background: linear-gradient(to bottom, #dddddd 0%, #ffffff 100%);
    background: var(--input-money-currency-hover-gradient);
}

@media screen and (max-width: 784px) {
    .r .input-money-group .input-money-symbol {
        padding: 9px;
    }

    .r .input-money-group input.input-money:not([type='file']):not([type='submit']):not([type='button']) {
        padding: 9px 5px;
    }

    .r .input-money-group .html-chars {
        top: 11px;
    }
}
