.btn,
.btn-wrap {
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.torn-btn.black {
    background: transparent linear-gradient(180deg, #555555 0%, #000000 100%) 0 0 no-repeat;
    color: #FFFFFF;
    text-shadow: none;
    border: none;
}

.torn-btn.black:hover,
.torn-btn.black:focus {
    background: transparent linear-gradient(180deg, #777777 0%, #222222 100%) 0 0 no-repeat;
}

.torn-btn.black.disabled,
.torn-btn.black:disabled,
.torn-btn.black:hover.disabled,
.torn-btn.black:hover:disabled {
    background: #000000 0 0 no-repeat;
    color: #FFFFFF;
}

.btn-wrap.disable .torn-btn,
.btn-wrap.disabled .torn-btn,
.btn-wrap.disable .torn-btn:hover,
.btn-wrap.disabled .torn-btn:hover,
.btn-wrap.disable .torn-btn:active,
.btn-wrap.disabled .torn-btn:active {
    color: #aaa;
    color: var(--btn-disable-color);
    text-shadow: none;
    text-shadow: var(--btn-disable-text-shadow);
    background: linear-gradient(180deg, #c4c4c4 0%, #e9e9e9 100%);
    background: var(--btn-disable-background);
    border: none;
    border: var(--btn-disable-border);
    box-shadow: inset 0 1px 0 #00000012, 0 1px 0 #fff;
    box-shadow: var(--btn-disable-box-shadow);
    padding: 0 11px;
    height: 34px;
    line-height: 36px;
    cursor: default;
}

.btn-wrap.disable a.torn-btn,
.btn-wrap.disabled a.torn-btn,
.btn-wrap.disable a.torn-btn:hover,
.btn-wrap.disabled a.torn-btn:hover,
.btn-wrap.disable a.torn-btn:active,
.btn-wrap.disabled a.torn-btn:active {
    height: 34px;
    line-height: 36px;
    padding: 0 11px;
    cursor: default;
}

.btn-wrap.disable .torn-btn.btn-dark-bg,
.btn-wrap.disabled .torn-btn.btn-dark-bg,
.btn-wrap.disable .torn-btn.btn-dark-bg:hover,
.btn-wrap.disabled .torn-btn.btn-dark-bg:hover {
    color: #555;
    text-shadow: none;
    background: linear-gradient(180deg, #000000 0%, #333333 100%);
    border: none;
    box-shadow: inset 0 -1px 0 #FFFFFF12;
}


/* СHURCH BUTTON */

.church-wrap .btn-wrap .torn-btn {
    font-size: 30px;
    line-height: 28px;
    font-family: grusskartengotischregular, Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
}

.church-wrap .torn-btn.trim {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* ToDo quick fixes for buttons. Will be fixed  */

body.d .account-recovery-wrap .search-for-account .buttons {
    margin-top: 20px;
}

body.d .account-recovery-wrap .account-info-wrap + .buttons {
    margin-top: 33px;
}

body.d .bookie-popular-wrap .torn-btn {
    height: auto !important;
}

@media screen and (max-width: 1000px) {
    /* ToDo quick fixes for buttons. Will be fixed  */

    body.r .account-recovery-wrap .forgot-password-form-wrap .nav-link.cancel {
        margin-bottom: 0;
        vertical-align: middle;
    }

    body.r .account-recovery-wrap .forgot-password-form-wrap .torn-btn {
        margin-bottom: 0;
        vertical-align: middle;
    }
}

@media screen and (max-width: 784px) {

    /* ToDo quick fixes for buttons. Will be fixed  */

    body.r .bookie-popular-wrap .torn-btn {
        height: auto !important;
    }
}

@media screen and (max-width: 600px) {
    /* ToDo quick fixes for buttons. Will be fixed  */

    body.r .account-recovery-wrap .forgotten-password-email-input-wrap,
    body.r .account-recovery-wrap .recovery-link-wrap .torn-btn {
        margin-bottom: 10px;
        padding-right: 0;
        padding-left: 0;
        margin-right: 0;
    }

    body.r .account-recovery-wrap .recovery-link-wrap {
        padding: 15px 20px 10px 20px;
    }

    body.r .account-recovery-wrap .new-email .buttons .torn-btn,
    body.r .account-recovery-wrap .search-for-account .buttons .torn-btn {
        width: auto;
    }

    body.r .account-recovery-wrap .new-email .buttons,
    body.r .account-recovery-wrap .search-for-account .buttons {
        text-align: left;
    }

    body.r .account-recovery-wrap .account-info-wrap + .buttons {
        margin-top: 40px;
    }
}
