:root .dark-mode {
    --mini-profile-border: none;
    --mini-profile-box-shadow: 0px 0px 4px #000000A6;
    --mini-profile-digits-blocks-bg-mobile: linear-gradient(180deg, #111 0%, #333 51%, #111 100%);
    --mini-profile-arrow-filter: drop-shadow(0 -1px 0 #000000A6);
    --mini-profile-buttons-bg-gradiend: linear-gradient(180deg, #444 0%, #222 100%);
    --mini-profile-buttons-bg-gradient-hover: linear-gradient(0deg, #444, #222);
    --mini-profile-buttons-bg-gradient-disabled: linear-gradient(0deg, #444, #222);
    --mini-profile-buttons-bg: linear-gradient(0deg, #444, #222);
    --mini-profile-buttons-border-color: #111;
    --mini-profile-buttons-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .1);
    --mini-profile-buttons-icons: url('/images/v2/profile/profile_buttons/profile_action_icons_sprite_dark.svg');
    --mini-profile-digits-zero: url(/images/v2/profile/neutral/320_0_placeholder_neutral_dark.png);

    --profile-okay-gradient: linear-gradient(90deg, #467E0D66 0%, #467E0D66 33%, #467E0D00 100%);
    --profile-npc-gradient: linear-gradient(90deg, #D9A41F4D 0%, #D9A41F4D 33%, #D9A41F00 100%);
    --profile-jail-hospital-gradient: linear-gradient(90deg, #C3401580 0%, #C3401580 33%, #C3401500 100%);
    --profile-federal-jail-gradient: linear-gradient(90deg, #C34015B3 0%, #C34015B3 33%, #C3401500 100%);
    --profile-dead-gradient: linear-gradient(90deg, #FFFFFF40 0%, #FFFFFF40 33%, #FFFFFF00 100%);
    --profile-abroad-gradient: linear-gradient(90deg, #2B8DAD66 0%, #2B8DAD66 33%, #2B8DAD00 100%);
    --profile-travelling-gradient: linear-gradient(90deg, #2B8DAD66 0%, #2B8DAD66 33%, #2B8DAD00 100%);
    --profile-awoken-gradient: linear-gradient(90deg, #68487D66 0%, #68487D66 33%, #4A335900 100%);
    --profile-dormant-gradient: linear-gradient(90deg, #24241566 0%, #66330066 33%, #46463700 100%);

    --profile-awoken1-bg-image: url(/images/v2/profile/user_status/maol_status/dark/386/1_awoken.jpg);
    --profile-awoken2-bg-image: url(/images/v2/profile/user_status/maol_status/dark/386/2_awoken.jpg);
    --profile-dormant1-bg-image: url(/images/v2/profile/user_status/maol_status/dark/386/1_dormant.jpg);
    --profile-dormant2-bg-image: url(/images/v2/profile/user_status/maol_status/dark/386/2_dormant.jpg);
    --profile-dormant3-bg-image: url(/images/v2/profile/user_status/maol_status/dark/386/3_dormant.jpg);
    --profile-dormant4-bg-image: url(/images/v2/profile/user_status/maol_status/dark/386/4_dormant.jpg);
    --profile-dormant5-bg-image: url(/images/v2/profile/user_status/maol_status/dark/386/5_dormant.jpg);

    --profile-okay-bg-image: url(/images/v2/profile/user_status/386/main/dark_mode/okay.jpg);
    --profile-npc-bg-image: url(/images/v2/profile/user_status/386/main/dark_mode/npc.jpg);
    --profile-hospital-bg-image: url(/images/v2/profile/user_status/386/main/dark_mode/hospital.jpg);
    --profile-jail-bg-image: url(/images/v2/profile/user_status/386/main/dark_mode/jail.jpg);
    --profile-federal-jail-bg-image: url(/images/v2/profile/user_status/386/main/dark_mode/federal_jail.jpg);
    --profile-dead-bg-image: url(/images/v2/profile/user_status/386/main/dark_mode/777.jpg);

    --profile-abroad-mexico-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/1_mexico.jpg);
    --profile-abroad-canada-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/2_canada.jpg);
    --profile-abroad-cayman-islands-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/3_cayman_islands.jpg);
    --profile-abroad-hawaii-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/4_hawaii.jpg);
    --profile-abroad-united-kingdom-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/5_uk.jpg);
    --profile-abroad-switzerland-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/6_switzerland.jpg);
    --profile-abroad-argentina-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/7_argentina.jpg);
    --profile-abroad-japan-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/8_japan.jpg);
    --profile-abroad-china-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/9_china.jpg);
    --profile-abroad-uae-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/10_uae.jpg);
    --profile-abroad-south-africa-bg-image: url(/images/v2/profile/user_status/386/countries/dark_mode/11_south_africa.jpg);

    --profile-travelling-hidden-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/12_traveling_status_hidden.jpg);
    --profile-travelling-to-mexico-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/1_to_mexico.jpg);
    --profile-travelling-from-mexico-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/1_from_mexico.jpg);
    --profile-travelling-to-canada-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/2_to_canada.jpg);
    --profile-travelling-from-canada-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/2_from_canada.jpg);
    --profile-travelling-to-cayman-islands-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/3_to_cayman_islands.jpg);
    --profile-travelling-from-cayman-islands-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/3_from_cayman_islands.jpg);
    --profile-travelling-to-hawaii-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/4_to_hawaii.jpg);
    --profile-travelling-from-hawaii-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/4_from_hawaii.jpg);
    --profile-travelling-to-united-kingdom-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/5_to_uk.jpg);
    --profile-travelling-from-united-kingdom-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/5_from_uk.jpg);
    --profile-travelling-to-switzerland-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/6_to_switzerland.jpg);
    --profile-travelling-from-switzerland-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/6_from_switzerland.jpg);
    --profile-travelling-to-argentina-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/7_to_argentina.jpg);
    --profile-travelling-from-argentina-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/7_from_argentina.jpg);
    --profile-travelling-to-japan-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/8_to_japan.jpg);
    --profile-travelling-from-japan-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/8_from_japan.jpg);
    --profile-travelling-to-china-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/9_to_china.jpg);
    --profile-travelling-from-china-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/9_from_china.jpg);
    --profile-travelling-to-uae-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/10_to_uae.jpg);
    --profile-travelling-from-uae-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/10_from_uae.jpg);
    --profile-travelling-to-south-africa-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/11_to_south_africa.jpg);
    --profile-travelling-from-south-africa-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/11_from_south_africa.jpg);
    --profile-travelling-to-private-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/business_airliner_to.jpg);
    --profile-travelling-from-private-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/business_airliner_from.jpg);
    --profile-travelling-to-airstrip-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/private_jet_to.jpg);
    --profile-travelling-from-airstrip-bg-image: url(/images/v2/profile/user_status/386/travelling/dark_mode/private_jet_from.jpg);

    --profile-digits-blocks-bg-large: linear-gradient(180deg, #111111 0%, #333333 51%, #111111 100%);
    --profile-digits-blocks-bg-small: linear-gradient(180deg, #111111 0%, #333333 51%, #111111 100%);
    --profile-digits-radius: 5px;
    --profile-digits-divider-bg: none;
    --profile-digits-divider: 1px solid;
    --profile-digits-divider-color: linear-gradient(0deg, #00000000 0%, #00000080 50%, #00000000 100%);
    --profile-digits-reflections-bg: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF33 100%);
    --profile-digits-zero: url(/images/v2/profile/neutral/976_0_placeholder_neutral_dark.png);
    --profile-digits-shadow: 0px 0px 2px #000000A6;
    --profile-digits-color: #aaa;

    --profile-hospital-jail-icon-fill: #D93600;
    --profile-hospital-jail-icon-fill-opacity: 0.5;
    --profile-federal-jail-icon-fill: #D93600;
    --profile-federal-jail-icon-fill-opacity: 0.6;
    --profile-travelling-icon-fill: #00A3D9;
    --profile-travelling-icon-fill-opacity: 0.4;
    --profile-npc-icon-fill: #D9A300;
    --profile-npc-icon-fill-opacity: 1;

    --profile-travelling-user-status-gradient: linear-gradient(to right, rgba(51,51,51,1) 0%,rgba(51,51,51,0) 100%);

    --profile-tooltip-awards-title-bg-color: #444;
    --profile-tooltip-awards-title-color: #fff;
    --profile-tooltip-awards-border-bottom-color: #222;
    --profile-tooltip-awards-ui-content-border-bottom-color: #222;

    --profile-buttons-clickable-disabled-opacity: .5;

    --profile-dog-tags-competition-status-bg: url(/images/v2/dog_tags/main/competition_status_bg_dark.jpg);
    --profile-dog-tags-competition-status-score-bg: url(/images/v2/dog_tags/main/dog_tag_placeholder_dark.svg);
    --profile-dog-tags-competition-status-color: #fff;
    --profile-dog-tags-competition-status-zero-color: rgba(255, 255, 255, .5);
    --profile-dog-tags-competition-status-text-shadow: 0 1px 2px #221609;
    --profile-dog-tags-competition-status-msg-bg: rgba(0, 0, 0, .4);
    --profile-dog-tags-competition-status-arrows: url(/images/v2/dog_tags/main/arrows_dark.svg) no-repeat;

    --profile-elimination-status-empty-logos: url("/images/v2/competition/elimination/banners/sigils/empty_dark.png");
    --profile-elimination-status-header-bar-befor: linear-gradient(to right, rgba(13,13,13,0) 0%,rgba(0,0,0,0) 50%,rgba(13,13,13,0) 100%);
    --profile-elimination-status-header-bar-after: linear-gradient(to right, rgba(13,13,13,0) 0%,rgba(0,0,0,0.5) 50%,rgba(13,13,13,0) 100%);


    --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_386px_dark@2x.png);
    --profile-rps-status-rock-image: url(/images/v2/rps/rock@2x.png);
    --profile-rps-status-paper-image: url(/images/v2/rps/paper_dark_v2@2x.png);
    --profile-rps-status-scissors-image: url(/images/v2/rps/scissors_dark_v2@2x.png);
}

/*@media (-webkit-min-device-pixel-ratio:1){
    :root .dark-mode{
        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_386px_dark@1x.png);
        --profile-rps-status-rock-image: url(/images/v2/rps/rock@1x.png);
        --profile-rps-status-paper-image: url(/images/v2/rps/paper_dark@1x.png);
        --profile-rps-status-scissors-image: url(/images/v2/rps/scissors_dark@1x.png);
    }
}*/

@media (-webkit-min-device-pixel-ratio:2){
    :root .dark-mode{
        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_386px_dark@2x.png);
        --profile-rps-status-rock-image: url(/images/v2/rps/rock@2x.png);
        --profile-rps-status-paper-image: url(/images/v2/rps/paper_dark_v2@2x.png);
        --profile-rps-status-scissors-image: url(/images/v2/rps/scissors_dark_v2@2x.png);
    }
}

@media (-webkit-min-device-pixel-ratio:3){
    :root .dark-mode{
        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_386px_dark@3x.png);
        --profile-rps-status-rock-image: url(/images/v2/rps/rock@3x.png);
        --profile-rps-status-paper-image: url(/images/v2/rps/paper_dark_v2@3x.png);
        --profile-rps-status-scissors-image: url(/images/v2/rps/scissors_dark_v2@3x.png);
    }
}

@media (-webkit-min-device-pixel-ratio:4){
    :root .dark-mode{
        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_386px_dark@4x.png);
        --profile-rps-status-rock-image: url(/images/v2/rps/rock@4x.png);
        --profile-rps-status-paper-image: url(/images/v2/rps/paper_dark_v2@4x.png);
        --profile-rps-status-scissors-image: url(/images/v2/rps/scissors_dark_v2@4x.png);
    }
}

@media screen and (max-width: 600px) {
    :root .r.dark-mode .logged-out {
        --profile-okay-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/okay.jpg);
        --profile-npc-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/npc.jpg);
        --profile-hospital-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/hospital.jpg);
        --profile-jail-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/jail.jpg);
        --profile-federal-jail-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/federal_jail.jpg);
        --profile-dead-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/777.jpg);

        --profile-awoken1-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/1_awoken.jpg);
        --profile-awoken2-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/2_awoken.jpg);
        --profile-dormant1-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/1_dormant.jpg);
        --profile-dormant2-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/2_dormant.jpg);
        --profile-dormant3-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/3_dormant.jpg);
        --profile-dormant4-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/4_dormant.jpg);
        --profile-dormant5-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/5_dormant.jpg);

        --profile-abroad-mexico-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/1_mexico.jpg);
        --profile-abroad-canada-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/2_canada.jpg);
        --profile-abroad-cayman-islands-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/3_cayman_islands.jpg);
        --profile-abroad-hawaii-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/4_hawaii.jpg);
        --profile-abroad-united-kingdom-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/5_uk.jpg);
        --profile-abroad-switzerland-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/6_switzerland.jpg);
        --profile-abroad-argentina-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/7_argentina.jpg);
        --profile-abroad-japan-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/8_japan.jpg);
        --profile-abroad-china-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/9_china.jpg);
        --profile-abroad-uae-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/10_uae.jpg);
        --profile-abroad-south-africa-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/11_south_africa.jpg);

        --profile-travelling-hidden-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/12_traveling_status_hidden.jpg);
        --profile-travelling-to-mexico-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/1_to_mexico.jpg);
        --profile-travelling-from-mexico-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/1_from_mexico.jpg);
        --profile-travelling-to-canada-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/2_to_canada.jpg);
        --profile-travelling-from-canada-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/2_from_canada.jpg);
        --profile-travelling-to-cayman-islands-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/3_to_cayman_islands.jpg);
        --profile-travelling-from-cayman-islands-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/3_from_cayman_islands.jpg);
        --profile-travelling-to-hawaii-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/4_to_hawaii.jpg);
        --profile-travelling-from-hawaii-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/4_from_hawaii.jpg);
        --profile-travelling-to-united-kingdom-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/5_to_uk.jpg);
        --profile-travelling-from-united-kingdom-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/5_from_uk.jpg);
        --profile-travelling-to-switzerland-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/6_to_switzerland.jpg);
        --profile-travelling-from-switzerland-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/6_from_switzerland.jpg);
        --profile-travelling-to-argentina-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/7_to_argentina.jpg);
        --profile-travelling-from-argentina-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/7_from_argentina.jpg);
        --profile-travelling-to-japan-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/8_to_japan.jpg);
        --profile-travelling-from-japan-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/8_from_japan.jpg);
        --profile-travelling-to-china-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/9_to_china.jpg);
        --profile-travelling-from-china-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/9_from_china.jpg);
        --profile-travelling-to-uae-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/10_to_uae.jpg);
        --profile-travelling-from-uae-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/10_from_uae.jpg);
        --profile-travelling-to-south-africa-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/11_to_south_africa.jpg);
        --profile-travelling-from-south-africa-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/11_from_south_africa.jpg);
        --profile-travelling-to-private-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/business_airliner_to.jpg);
        --profile-travelling-from-private-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/business_airliner_from.jpg);
        --profile-travelling-to-airstrip-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/private_jet_to.jpg);
        --profile-travelling-from-airstrip-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/private_jet_from.jpg);

        --profile-digits-blocks-bg-mobile: linear-gradient(180deg, #111111 0%, #333333 51%, #111111 100%);
        --profile-digits-blocks-height-mobile: 49px;
        --profile-digits-blocks-zero-margin-mobile: 1px;
        --profile-digits-zero: url(/images/v2/profile/neutral/320_0_placeholder_neutral_dark.png);
    }
}

@media screen and (max-width: 386px) {
    :root .r.dark-mode {
        --profile-okay-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/okay.jpg);
        --profile-npc-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/npc.jpg);
        --profile-hospital-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/hospital.jpg);
        --profile-jail-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/jail.jpg);
        --profile-federal-jail-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/federal_jail.jpg);
        --profile-dead-bg-image: url(/images/v2/profile/user_status/320/main/dark_mode/777.jpg);

        --profile-awoken1-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/1_awoken.jpg);
        --profile-awoken2-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/2_awoken.jpg);
        --profile-dormant1-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/1_dormant.jpg);
        --profile-dormant2-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/2_dormant.jpg);
        --profile-dormant3-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/3_dormant.jpg);
        --profile-dormant4-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/4_dormant.jpg);
        --profile-dormant5-bg-image: url(/images/v2/profile/user_status/maol_status/dark/320/5_dormant.jpg);

        --profile-abroad-mexico-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/1_mexico.jpg);
        --profile-abroad-canada-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/2_canada.jpg);
        --profile-abroad-cayman-islands-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/3_cayman_islands.jpg);
        --profile-abroad-hawaii-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/4_hawaii.jpg);
        --profile-abroad-united-kingdom-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/5_uk.jpg);
        --profile-abroad-switzerland-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/6_switzerland.jpg);
        --profile-abroad-argentina-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/7_argentina.jpg);
        --profile-abroad-japan-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/8_japan.jpg);
        --profile-abroad-china-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/9_china.jpg);
        --profile-abroad-uae-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/10_uae.jpg);
        --profile-abroad-south-africa-bg-image: url(/images/v2/profile/user_status/320/countries/dark_mode/11_south_africa.jpg);

        --profile-travelling-hidden-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/12_traveling_status_hidden.jpg);
        --profile-travelling-to-mexico-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/1_to_mexico.jpg);
        --profile-travelling-from-mexico-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/1_from_mexico.jpg);
        --profile-travelling-to-canada-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/2_to_canada.jpg);
        --profile-travelling-from-canada-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/2_from_canada.jpg);
        --profile-travelling-to-cayman-islands-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/3_to_cayman_islands.jpg);
        --profile-travelling-from-cayman-islands-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/3_from_cayman_islands.jpg);
        --profile-travelling-to-hawaii-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/4_to_hawaii.jpg);
        --profile-travelling-from-hawaii-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/4_from_hawaii.jpg);
        --profile-travelling-to-united-kingdom-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/5_to_uk.jpg);
        --profile-travelling-from-united-kingdom-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/5_from_uk.jpg);
        --profile-travelling-to-switzerland-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/6_to_switzerland.jpg);
        --profile-travelling-from-switzerland-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/6_from_switzerland.jpg);
        --profile-travelling-to-argentina-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/7_to_argentina.jpg);
        --profile-travelling-from-argentina-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/7_from_argentina.jpg);
        --profile-travelling-to-japan-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/8_to_japan.jpg);
        --profile-travelling-from-japan-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/8_from_japan.jpg);
        --profile-travelling-to-china-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/9_to_china.jpg);
        --profile-travelling-from-china-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/9_from_china.jpg);
        --profile-travelling-to-uae-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/10_to_uae.jpg);
        --profile-travelling-from-uae-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/10_from_uae.jpg);
        --profile-travelling-to-south-africa-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/11_to_south_africa.jpg);
        --profile-travelling-from-south-africa-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/11_from_south_africa.jpg);
        --profile-travelling-to-private-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/business_airliner_to.jpg);
        --profile-travelling-from-private-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/business_airliner_from.jpg);
        --profile-travelling-to-airstrip-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/private_jet_to.jpg);
        --profile-travelling-from-airstrip-bg-image: url(/images/v2/profile/user_status/320/travelling/dark_mode/private_jet_from.jpg);

        --profile-digits-blocks-bg-mobile: linear-gradient(180deg, #111111 0%, #333333 51%, #111111 100%);
        --profile-digits-blocks-height-mobile: 49px;
        --profile-digits-blocks-zero-margin-mobile: 1px;
        --profile-digits-zero: url(/images/v2/profile/neutral/320_0_placeholder_neutral_dark.png);

        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_320px_dark@2x.png);
    }
}

/*@media screen and (max-width: 386px) and (-webkit-min-device-pixel-ratio:1){
    :root .r.dark-mode{
        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_320px_dark@1x.png);
    }
}*/

@media screen and (max-width: 386px) and (-webkit-min-device-pixel-ratio:2){
    :root .r.dark-mode{
        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_320px_dark@2x.png);
    }
}

@media screen and (max-width: 386px) and (-webkit-min-device-pixel-ratio:3){
    :root .r.dark-mode{
        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_320px_dark@3x.png);
    }
}

@media screen and (max-width: 386px) and (-webkit-min-device-pixel-ratio:4){
    :root .r.dark-mode{
        --profile-rps-status-background-image: url(/images/v2/rps/rock_paper_scissors_bg_320px_dark@4x.png);
    }
}
