:root .dark-mode {
    --default-color: #ddd;
    --default-full-text-color: #ccc;
    --default-full-text-6-color: #ccc;
    --default-blue-color: #74c0fc;
    --default-blue-hover-color: #a5d8ff;
    --default-green-color: #82c91e;

    --default-text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

    /* TODO: it will be changed later with @janes */
    --default-white-box-shadow: 0 1px 0 #000;

    /* TODO: it will be changed later with @janes */
    --default-green-dark-color: #99CC00;
    --default-blue-dark-color: #00A9F9;
    --default-white-color: #fff;
    --default-black-color: #000;
    --default-red-color: #E54C19;
    --default-yellow-color: #CA9800;
    --default-orange-color: #F08C00;
    --default-gray-f2-color: #F2F2F2;
    --default-gray-3-color: #333333;
    --default-gray-4-color: #ddd;
    --default-gray-5-color: #ddd;
    --default-gray-6-color: #ddd;
    --default-gray-7-color: #ddd;
    --default-gray-8-color: #ccc;
    --default-gray-9-color: #ccc;
    --default-gray-c-color: #CCC;
    --default-gray-e5-color: #3c3c3c;
    --default-gray-e4-color: #444;
    --default-gray-9-hover-color: #999;

    /* TODO: it will be changed later with @janes */
    --default-bg-1-gradient: linear-gradient(to bottom, #4c6600 0%, #74e800 100%);
    --default-bg-2-gradient: linear-gradient(to bottom, #b20000 0%, #ff2626 100%);
    --default-bg-3-gradient: linear-gradient(to bottom, #b28500 0%, #ffc926 100%);
    --default-bg-4-gradient: linear-gradient(to bottom, #005b5b 0%, #00d9d9 100%);
    --default-bg-5-gradient: linear-gradient(to bottom,  #003366 0%, #0080ff 100%);
    --default-bg-6-gradient: linear-gradient(to bottom,  #46008c 0%, #9933ff 100%);
    --default-bg-7-gradient: linear-gradient(to bottom,  #660066 0%, #ff26ff 100%);
    --default-bg-8-gradient: linear-gradient(to bottom,  #000000 0%, #555555 100%);
    --default-bg-9-gradient: linear-gradient(to bottom,  #f28d8d 0%, #fad3d3 100%);
    --default-bg-10-gradient: linear-gradient(to bottom,  #e1c919 0%, #f4df9f 100%);
    --default-bg-11-gradient: linear-gradient(to bottom,  #a0cf17 0%, #e0f3a3 100%);
    --default-bg-12-gradient: linear-gradient(to bottom,  #18d9d9 0%, #b7f6f6 100%);
    --default-bg-13-gradient: linear-gradient(to bottom,  #6fafee 0%, #c9e0f9 100%);
    --default-bg-14-gradient: linear-gradient(to bottom,  #b072ef 0%, #e2cbf9 100%);
    --default-bg-15-gradient: linear-gradient(to bottom,  #f080f0 0%, #fad3fa 100%);
    --default-bg-16-gradient: linear-gradient(to bottom,  #616161 0%, #bbbbbb 100%);
    --default-bg-17-gradient: linear-gradient(to bottom,  #400000 0%, #b20000 100%);
    --default-bg-18-gradient: linear-gradient(to bottom,  #403000 0%,#cc9900 100%);
    --default-bg-19-gradient: linear-gradient(to bottom,  #204000 0%, #4e9b00 100%);
    --default-bg-20-gradient: linear-gradient(to bottom,  #003040 0%, #009d9d 100%);
    --default-bg-21-gradient: linear-gradient(to bottom,  #000040 0%, #0000b7 100%);
    --default-bg-22-gradient: linear-gradient(to bottom,  #400040 0%, #8c008c 100%);

    /* TODO: it will be changed later with @janes */
    --default-bg-red-color: rgba(228, 74, 27, 0.15);
    --default-bg-gray-color: rgba(221, 221, 221, 0.15);
    --default-bg-blue-color: rgba(105, 170, 190, 0.15);
    --default-bg-green-color: rgba(110, 160, 55, 0.15);
    --default-bg-red-hover-color: rgba(229, 76, 26, 0.3);
    --default-bg-blue-hover-color: rgba(102, 168, 190, 0.3);
    --default-bg-green-hover-color: rgba(109, 163, 54, 0.3);

    --default-panel-gradient: linear-gradient(180deg, #555 0%, #333 100%);
    --default-panel-active-gradient: linear-gradient(0deg, #555 0%, #333 100%);
    --default-content-title-color: #999;

    --default-preloader-url: url(/images/v2/main/ajax-loader-white.gif);

    --bg-gray-e4-color: #444;
    --bg-gray-e8-color: #444;

    --title-msg-gray-gradient: repeating-linear-gradient(90deg, #5e5e5e, #5e5e5e 2px, #555 0, #555 4px);
    --title-msg-red-gradient: repeating-linear-gradient(90deg, #a43612, #a43612 2px, #a9401e 0, #a9401e 4px);
    --title-msg-green-gradient: repeating-linear-gradient(90deg, #58700d, #58700d 2px, #617719 0, #617719 4px);
    --title-msg-blue-gradient: repeating-linear-gradient(90deg, #527a8e, #527a8e 2px, #5B8194 0, #5B8194 4px);

    --info-msg-green-gradient: linear-gradient(to bottom, #6cb649 0%, #335522 100%);
    --info-msg-red-gradient: linear-gradient(to bottom, #cd5932 0%, #7b351e 100%);
    --info-msg-blue-gradient: linear-gradient(to bottom, #4b92b4 0%, #284e60 100%);
    --info-msg-grey-gradient: linear-gradient(to bottom, #999999 0%, #555555 100%);
    --info-msg-orange-gradient: linear-gradient(to bottom, #E9AC3E 0%, #EA8642 100%);
    --info-msg-horizontal-gradient: repeating-linear-gradient(to right, transparent 0px, transparent 2px, #ffffff12 2px, #ffffff12 4px);
    --info-msg-box-shadow: none;

    --zoom-tooltip-bg-color: #444;
    --zoom-tooltip-font-color: #ddd;

    --pagination-bg-gradient: var(--default-panel-gradient);
    --pagination-active-page-bg-gradient: var(--default-panel-active-gradient);
    --pagination-text-shadow: 0px 0px 2px #000000a6;
    --pagination-arrow-color: #ccc;
    --pagination-arrow-color-active: #fff;

    --info-msg-font-color: #fff;
    --info-msg-bg-gradient: var(--default-panel-gradient);
    --info-msg-delimiter-gradient: var(--default-panel-gradient);

    --tooltip-border-color: #444;
    --tooltip-bg-color: #444;
    --white-tooltip-box-shadow: rgba(0, 0, 0, 0.65) 0 0 2px;
    --white-tooltip-arrow-filter: drop-shadow(0 1px 0 #444) drop-shadow(0 2px 1px #11111124);
    --white-tooltip-arrow-bottom-left-filter: var(--white-tooltip-arrow-filter);
    --white-tooltip-arrow-top-left-filter: drop-shadow(0 -1px 0 #444) drop-shadow(0 -2px 1px #11111124);
    --white-tooltip-arrow-middle-left-filter: drop-shadow(-1px 0 0 #444) drop-shadow(-2px 0 1px #11111124);
    --white-tooltip-arrow-middle-right-filter: drop-shadow(1px 0 0 #444) drop-shadow(2px 0 1px #11111124);

    --default-bg-panel-color: #333;
    --default-bg-panel-active-color: #444;
    --default-content-panel-color: #ddd;
    --default-panel-divider-outer-side-color: #222;
    --default-panel-divider-inner-side-color: #444;
    --panel-border-bottom-color: #3b3b3b;
    --panel-divider-outer-side-color: #222;
    --panel-bg-color: #333;
    --panel-bg-opacity: 0.1;

    --default-divider-linear-gradient: linear-gradient(0deg, #00000000 0%, #00000080 50%, #00000000 100%);

    --default-divider-left-linear-gradient: linear-gradient(0deg, #00000000 0%, #00000080 50%, #00000000 100%);
    --default-divider-right-linear-gradient: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF1A 50%, #FFFFFF00 100%);
    --default-divider-top-linear-gradient: linear-gradient(90deg, #00000000 0%, #00000080 50%, #00000000 100%);
    --default-divider-bottom-linear-gradient: linear-gradient(90deg, #FFFFFF00 0%, #FFFFFF1A 50%, #FFFFFF00 100%);

    --top-links-divider-left-linear-gradient: var(--default-divider-left-linear-gradient);
    --top-links-divider-right-linear-gradient: var(--default-divider-right-linear-gradient);
    --top-links-divider-top-linear-gradient: var(--default-divider-top-linear-gradient);
    --top-links-divider-bottom-linear-gradient: var(--default-divider-bottom-linear-gradient);

    --default-divider-white-top-linear-gradient: linear-gradient(to bottom, rgba(68, 68, 68, 1) 0%, rgba(242, 242, 242, 0) 100%);
    --default-divider-white-bottom-linear-gradient: linear-gradient(to bottom, rgba(242, 242, 242, 0) 0%, rgba(68, 68, 68, 1) 100%);

    /* TODO: it will be changed later with @janes */
    --divider-top-linear-gradient: linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
    --divider-bottom-linear-gradient: linear-gradient(to bottom,  rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
    --divider-left-linear-gradient: linear-gradient(to right, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
    --divider-right-linear-gradient: linear-gradient(to right, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
    --divider-gray-left-linear-gradient: linear-gradient(to right, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
    --divider-gray-right-linear-gradient: linear-gradient(to right, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
    --divider-gray-top-linear-gradient: linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
    --divider-gray-bottom-linear-gradient: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
    --divider-white-left-linear-gradient: linear-gradient(to right,  rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
    --divider-white-left-hover-linear-gradient: linear-gradient(to right,  rgba(68, 68, 68, 1) 0%, rgba(68, 68, 68, 0) 100%);
    --divider-white-right-linear-gradient: linear-gradient(to right,  rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
    --divider-white-right-hover-linear-gradient: linear-gradient(to right,  rgba(68, 68, 68, 0) 0%, rgba(68, 68, 68, 1) 100%);
    --divider-white-top-linear-gradient: linear-gradient(to bottom,  rgba(51, 51, 51, 1) 0%, rgba(51, 51, 51, 0) 100%);
    --divider-white-top-hover-linear-gradient: linear-gradient(to bottom,  rgba(68, 68, 68, 1) 0%, rgba(68, 68, 68, 0) 100%);
    --divider-white-bottom-linear-gradient: linear-gradient(to bottom,  rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100%);
    --divider-white-bottom-hover-linear-gradient: linear-gradient(to bottom,  rgba(68, 68, 68, 0) 0%, rgba(68, 68, 68, 1) 100%);

    --divider-dark-color: #222;
    --divider-light-color: #474747;
    --page-background-color: #191919;
    --page-content-divider-top-color: #333;
    --page-content-divider-bottom-color: #FFFFFF26;

    --page-header-divider-border-top: 1px solid transparent;
    --page-header-divider-border-bottom: 1px solid #333;

    --content-title-color: #999;

    --main-bg: #191919;

    --tutorial-outcome-icon-fill: #fff;
    --tutorial-outcome-icon-shadow: drop-shadow(0 0 2px #00000080);
    --tutorial-title-gradient: linear-gradient(180deg, #888888 0%, #444444 100%);
    --tutorial-title-shadow: 0 0 2px #00000080;
    --tutorial-title-color: #fff;
    --tutorial-title-content-color: #ddd;
    --tutorial-title-border-top-color: #000;
    --tutorial-title-border-bottom-color: #FFFFFF1A;

    --content-title-links: #999;
    --content-title-links-hover: #CCC;
    --content-title-links-text-shadow: none;
    --top-links-icon-svg-fill: var(--content-title-links);
    --top-links-icon-svg-hover-fill: var(--content-title-links-hover);
    --top-links-icon-svg-shadow: var(--content-title-links-text-shadow);
    --top-links-icon-svg-hover-shadow: var(--content-title-links-text-shadow);

    --btn-color: #eee;
    --btn-text-shadow: 0 0 5px #000;
    --btn-background: linear-gradient(180deg, #111111 0%, #555555 25%, #333333 60%, #333333 78%, #111111 100%);
    --btn-border: 1px solid #111;
    --btn-hover-color: #fff;
    --btn-hover-text-shadow: 0 0 5px #FFFFFF40;
    --btn-hover-background: linear-gradient(180deg, #333333 0%, #777777 25%, #333333 59%, #666666 78%, #333333 100%);
    --btn-hover-border: 1px solid #111;
    --btn-active-color: #ddd;
    --btn-active-text-shadow: 0 0 2px #00000073;
    --btn-active-background: linear-gradient(180deg, #000000 0%, #333333 100%);
    --btn-active-border: none;
    --btn-active-box-shadow: inset 0 -1px 0 #FFFFFF12;
    --btn-disable-color: #555;
    --btn-disable-text-shadow: none;
    --btn-disable-background: linear-gradient(180deg, #000000 0%, #333333 100%);
    --btn-disable-border: none;
    --btn-disable-box-shadow: inset 0 -1px 0 #FFFFFF12;

    --default-icon-filter: drop-shadow(0px 1px 0px transparent);
    --icon-filter: grayscale(100%) contrast(0.4);
    --icon-hover-filter: brightness(130%);
    --icon-disabled-filter: grayscale(100%);
    --icon-black-filter: drop-shadow(0 1px 1px #111111b5);
    --issue-status-closed-icon-filter: brightness(0.3);
    --issue-status-closed-icon-black-filter: brightness(0.3);

    --title-color: #fff;
    --title-black-gradient: linear-gradient(180deg, #555555 0%, #333333 100%);
    --title-gray-gradient: linear-gradient(180deg, #888888 0%, #444444 100%);
    --title-red-gradient: linear-gradient(180deg, #904B2D 0%, #512A15 100%);
    --title-green-gradient: linear-gradient(180deg, #597B2A 0%, #373D2F 100%);
    --title-blue-gradient: linear-gradient(180deg, #315E89 0%, #30383F 100%);
    --title-text-shadow-color: #000000;
    --title-text-shadow: 0 0 2px var(--title-text-shadow-color);

    --title-white-color: var(--title-color);
    --title-white-text-shadow: var(--title-text-shadow);
    --title-white-gradient: var(--title-black-gradient);

    --title-divider-indent-top: 1px;
    --title-divider-indent-left: 1px;
    --title-divider-indent-right: 1px;
    --title-left-divider-black-gradient: linear-gradient(180deg, #666666 0%, var(--default-panel-divider-outer-side-color) 50%, #333333 100%) 0 0 no-repeat;
    --title-right-divider-black-gradient: linear-gradient(180deg, #666666 0%, var(--default-panel-divider-inner-side-color) 50%, #333333 100%) 0 0 no-repeat;
    --title-left-divider-red-gradient: linear-gradient(180deg, #CD593200 0%, var(--default-panel-divider-outer-side-color) 50%, #F03E3EA6 100%) 0 0 no-repeat;
    --title-right-divider-red-gradient: linear-gradient(180deg, #CD593200 0%, var(--default-panel-divider-inner-side-color) 50%, #333333 100%) 0 0 no-repeat;
    --title-left-divider-green-gradient: linear-gradient(180deg, #6CB64900 0%, var(--default-panel-divider-outer-side-color) 50%, #6CB6494D 100%) 0 0 no-repeat;
    --title-right-divider-green-gradient: linear-gradient(180deg, #6CB64900 0%, var(--default-panel-divider-inner-side-color) 50%, #6CB6494D 100%) 0 0 no-repeat;
    --title-left-divider-blue-gradient: linear-gradient(180deg, #6CB64900 0%, var(--default-panel-divider-outer-side-color) 50%, #00669966 100%) 0 0 no-repeat;
    --title-right-divider-blue-gradient: linear-gradient(180deg, #6CB64900 0%, var(--default-panel-divider-inner-side-color) 50%, #00669966 100%) 0 0 no-repeat;

    --title-divider-top-color: var(--default-panel-divider-outer-side-color);
    --title-divider-bottom-color: var(--default-panel-divider-inner-side-color);

    --checkbox-color: #ddd;
    --checkbox-hover-color: #fff;
    --checkbox-disabled-color: #888;
    --checkbox-disabled-hover-color: var(--checkbox-disabled-color);
    --checkbox-box-shadow: none;
    --checkbox-hover-box-shadow: var(--checkbox-box-shadow);
    --checkbox-disabled-box-shadow: none;
    --checkbox-disabled-hover-box-shadow: var(--checkbox-disabled-box-shadow);
    --checkbox-border-color: #ddd;
    --checkbox-hover-border-color: #fff;
    --checkbox-disabled-border-color: #666;
    --checkbox-disabled-hover-border-color: var(--checkbox-disabled-border-color);
    --checkbox-bg-color: var(--checkbox-border-color);
    --checkbox-hover-bg-color: var(--checkbox-hover-border-color);
    --checkbox-disabled-bg-color: var(--checkbox-disabled-border-color);
    --checkbox-disabled-hover-bg-color: var(--checkbox-disabled-bg-color);

    --items-blank-filter: contrast(0) opacity(0.4);
    --items-plate-background: linear-gradient(180deg, #000000 0%, #222222 100%);
    --items-plate-background-color: transparent;
    --items-plate-border: 1px solid;
    --items-plate-border-color: #444444;
    --items-plate-box-shadow: inset 0 2px 4px #00000040;
    --items-plate-box-shadow-inset: inset 0 2px 4px #00000040;
    --items-plate-button-gradient: linear-gradient(180deg, #555555 0%, #333333 100%) 0 0 no-repeat;
    --items-plate-button-border-color: #111;
    --items-plate-button-group-color: #DDDDDD;
    --items-plate-equip-thumbnail-box-shadow: 0 0 5px #C4FF00;
    --items-plate-equip-thumbnail-border-color: #A9C08F;
    --items-plate-qty-color: #FFF;
    --default-qty-text-shadow: 0 -2px 1px #000, 0 2px 1px #000, 2px 0 1px #000, -2px 0 1px #000;

    --autocomplete-color: #ccc;
    --autocomplete-hover-color: #fff;
    --autocomplete-options-color: #999;
    --autocomplete-options-border-color: #444;
    --autocomplete-options-background-color: #111;
    --autocomplete-options-background-active-color: #222;
    --autocomplete-options-active-color: #fff;
    --autocomplete-background-color: #222;
    --autocomplete-background-hover-color: #444;
    --autocomplete-box-shadow: 0px 1px 2px 1px #00000040;
    --autocomplete-border-color: #444;
    --autocomplete-chosen-background-color: #213110;

    --input-color: #fff;
    --input-background-color: linear-gradient(0deg, #111111 0%, #000000 100%);
    --input-border-color: #444;
    --input-disabled-color: #666;
    --input-disabled-border-color: #555;
    --input-disabled-background-color: #333;
    --input-hover-border-color: #666;
    --input-focus-border-color: #1864AB80;
    --input-error-border-color: #F03E3E4D;
    --input-hover-box-shadow: 0 0 2px #FFFFFF40;
    --input-focus-box-shadow: 0 0 2px #1C7ED6A6;
    --input-error-box-shadow: 0 0 2px #F03E3EA6;

    --input-money-color: var(--input-color);
    --input-money-background-color: var(--input-background-color);
    --input-money-hover-box-shadow: var(--input-hover-box-shadow);
    --input-money-focus-box-shadow: var(--input-focus-box-shadow);
    --input-money-error-box-shadow: var(--input-error-box-shadow);
    --input-money-border-color: var(--input-border-color);
    --input-money-disabled-color: var(--input-disabled-color);
    --input-money-disabled-border-color: var(--input-disabled-border-color);
    --input-money-disabled-background-color: var(--input-disabled-background-color);
    --input-money-hover-border-color: var(--input-hover-border-color);
    --input-money-focus-border-color: var(--input-focus-border-color);
    --input-money-error-border-color: var(--input-error-border-color);
    --input-money-currency-background-color: #555;
    --input-money-currency-gradient: linear-gradient(180deg, #555555 0%, #333333 100%) 0 0 no-repeat;
    --input-money-currency-text-shadow: 0 0 2px #00000073;
    --input-money-currency-color: #ccc;
    --input-money-currency-hover-color: #999; /* request to Jane */
    --input-money-currency-hover-gradient: linear-gradient(180deg, #333333 0%, #555555 100%) 0 0 no-repeat;
    --input-money-currency-hover-background-color: #ddd; /* request to Jane */

    --default-tabs-bg-gradient: linear-gradient(180deg, #666666 0%, #333333 100%);
    --default-tabs-active-bg-gradient: linear-gradient(180deg, #333333 0%, #666666 100%);
    --default-tabs-box-shadow: 0 0 2px #00000040;
    --default-tabs-color: #999;
    --default-tabs-active-color: #DDD;
    --default-tabs-disabled-color: #000;
    --default-tabs-text-shadow: 0 0 2px #000000A6;
    --default-tabs-active-text-shadow: 0 0 2px #000000A6;
    --default-tabs-disabled-text-shadow: 0 -1px 0 #FFFFFF1A;
    --default-tabs-divider-border-left-color: #000;
    --default-tabs-divider-border-right-color: #000;
    --default-tabs-divider-left-gradient: linear-gradient(180deg, #444444 0%, var(--default-panel-divider-outer-side-color) 50%, #333333 100%) 0 0 no-repeat;
    --default-tabs-divider-right-gradient: linear-gradient(180deg, #444444 0%, var(--default-panel-divider-inner-side-color) 50%, #333333 100%) 0 0 no-repeat;
    --default-tabs-divider-indent-top: 0;
    --default-tabs-icon-filter: drop-shadow(0 1px 2px #00000073);
    --default-tabs-icon-disabled-filter: drop-shadow(0 -1px 0 #FFFFFF1A);

    --tabs-border-top-color: #555;
    --tabs-border-bottom-color: #222;
    --tabs-bg-gradient: linear-gradient(180deg, #666666 0%, #333333 100%);
    --tabs-hover-bg-gradient: linear-gradient(180deg, #555555 0%, #444444 100%);
    --tabs-active-bg-gradient: linear-gradient(180deg, #333333 0%, #666666 100%);
    --tabs-color: #fff;
    --tabs-disabled-color: #000;
    --tabs-text-shadow: 0 0 2px #000000;
    --tabs-disabled-text-shadow: 0 -1px 0 #FFFFFF1A;
    --tabs-divider-border-left-color: #000;
    --tabs-divider-border-right-color: #000;
    --tabs-divider-left-gradient: linear-gradient(180deg, #666 0%, var(--tabs-border-bottom-color) 50%, #333 100%) 0 0 no-repeat;
    --tabs-divider-right-gradient: linear-gradient(180deg, #666 0%, var(--tabs-border-top-color) 50%, #333 100%) 0 0 no-repeat;
    --tabs-divider-indent-top: 0;

    --tabs-dark-border-top-color: var(--tabs-border-top-color);
    --tabs-dark-border-bottom-color: var(--tabs-border-bottom-color);
    --tabs-dark-bg-gradient: var(--tabs-bg-gradient);
    --tabs-dark-hover-bg-gradient: linear-gradient(180deg, #555555 0%, #444444 100%);
    --tabs-dark-active-bg-gradient: linear-gradient(180deg, #222222 0%, #444444 100%);
    --tabs-dark-color: var(--tabs-color);
    --tabs-dark-disabled-color: var(--tabs-disabled-color);
    --tabs-dark-text-shadow: var(--tabs-text-shadow);
    --tabs-dark-disabled-text-shadow: var(--tabs-disabled-text-shadow);
    --tabs-dark-divider-border-left-color: var(--tabs-divider-border-left-color);
    --tabs-dark-divider-border-right-color: var(--tabs-divider-border-right-color);
    --tabs-dark-divider-left-gradient: var(--tabs-divider-left-gradient);
    --tabs-dark-divider-right-gradient: var(--tabs-divider-right-gradient);

    --early-discharge-title-gradient-main: linear-gradient(180deg, #333333 0%, #444444 25%, #111111 59%, #555555 78%, #333333 100%) 0% 0%;
    --early-discharge-title-gradient-before: linear-gradient(180deg, #00000000 0%, #000000 52%, #00000000 100%) 0% 0%;
    --early-discharge-title-gradient-after: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF1A 52%, #FFFFFF00 100%) 0% 0%;
    --early-discharge-title-image: url(/images/hospital/early_discharge_dark.svg);

    --row-marker-linear-gradient: linear-gradient(to bottom,  #CCCCCC66 0%, #99999966 100%);
    --row-marker-new-linear-gradient: linear-gradient(to bottom,  #FF530066 0%, #d5000066 100%);

    --info-dialog-msg-box-shadow: 0px 0px 4px #00000040;
    --info-dialog-msg-color: #FFF;
    --info-dialog-msg-bg-gradient: linear-gradient(180deg, #666666 0%, #333333 100%);
    --info-dialog-msg-avatar-linear-gradient: linear-gradient(0deg, #555555 0%, #333333 100%);
    --info-dialog-msg-avatar-pattern-linear-gradient: linear-gradient(180deg, rgba(85, 85, 85, 0.9) 0%, rgba(51, 51, 51, 0) 100%);
    --info-dialog-msg-avatar-pattern-url: url(/images/v2/church/priest/priest_pattern_dark.svg) repeat;
    --info-dialog-msg-avatar-text-shadow: 0px 0px 2px #00000073;
    --info-dialog-msg-avatar-color: #FFF;
    --info-dialog-msg-text-text-shadow: 0px 0px 2px #00000073;
    --info-dialog-msg-text-color: #FFF;
    --info-dialog-msg-avatar-wrapper-border-color: rgba(0, 0, 0, 0.5);
    --info-dialog-msg-avatar-wrapper-box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.1);

    --progress-bar-white-bg-url: url(/images/v2/main/dark_mode/progress_bar_white_bg.png);  /* temporary fix */

    --progressbar-wrap-linear-gradient: linear-gradient(180deg, #222222 0%, #444444 100%) 0 0 no-repeat;
    --progressbar-wrap-box-shadow: 0 1px 0 transparent, inset 0 1px 0 #0000001A;
    --progressbar-bg-linear-gradient: linear-gradient(180deg, #111111 0%, #222222 100%) 0 0 no-repeat;
    --progressbar-bg-box-shadow: none;
    --progressbar-progress-light-gray-linear-gradient: linear-gradient(180deg, #FFFFFF50 0%, #66666680 100%), repeating-linear-gradient(90deg, #999999 0, #999999 2px, #666666 0, #666666 4px);
    --progressbar-progress-gray-linear-gradient: linear-gradient(180deg, #FFFFFF20 0%, #55555580 100%), repeating-linear-gradient(90deg, #777777 0, #777777 2px, #555555 0, #555555 4px);

    --range-slider-wrap-box-shadow: 0 1px 0 transparent, inset 0 1px 0 #0000001A;
    --range-slider-wrap-linear-gradient: linear-gradient(180deg, #222 0%, #444 100%);
    --range-slider-bg-linear-gradient: linear-gradient(180deg, #00000000 0%, #00000010 36%, #00000053 100%), repeating-linear-gradient(90deg, #D93600 0%, #FFBF00 50%, #85B200 90%, #94C500 100%), linear-gradient(180deg, #111 0%, #222 100%);
    --range-slider-bg-box-shadow: none;
    --range-slider-track-linear-gradient: linear-gradient(180deg, #111 0%, #222 100%);
    --range-slider-track-bg-color: #111;
    --range-slider-dividers-step: 10%;
    --range-slider-dividers-linear-gradient: repeating-linear-gradient(to right, transparent 0%, transparent calc(var(--range-slider-dividers-step) - 1px), #333 calc(var(--range-slider-dividers-step) - 1px), #333 var(--range-slider-dividers-step));
    --range-slider-handle-color: #fff;
    --range-slider-handle-text-shadow: 0px 0px 2px #000;
    --range-slider-handle-bg-color: #666;
    --range-slider-handle-drop-shadow: drop-shadow(0 0 2px #000000A6);
    --range-slider-handle-border-color: #666;

    --go-to-top-button-icon-filter: none;
    --go-to-top-button-bg-image: url(/images/v2/svg_icons/globals/go_to_top_dark.svg);

    --icons-sports-bg-image: url(/images/v2/main/icons/sports_dark.svg);
    --icons-graphs-info-url: url(/images/v2/main/icons/tab_icons_dark.svg);
    --icons-property-option-url: url(/images/v2/properties/dark_mode/properties_icons.svg);

    --appheader-title-color: var(--default-content-title-color); /* #999 */
    --appheader-links-color: #999;
    --appheader-links-color-hover: #ccc;
    --appheader-links-text-shadow-color: none;
    --appheader-dropdown-border: 1px solid #444;
    --appheader-dropdown-shadow: 0 1px 2px #00000040;
    --appheader-dropdown-links-background-color: #333;
    --appheader-dropdown-links-background-hover-color: #484848;
    --appheader-dropdown-links-box-shadow: 0 1px 0 #ffffff1a inset;
    --appheader-dropdown-links-color: #fff;
    --appheader-dropdown-background: var(--panel-bg-color); /* #333 */
    --appheader-tutorial-title-background: var(--tutorial-title-gradient); /* repeating-linear-gradient(90deg, #2e2e2e, #2e2e2e 2px, #282828 0, #282828 4px); */
    --appheader-tutorial-title-text-shadow: var(--tutorial-title-shadow); /* 1px 1px 2px rgba(0, 0, 0, 0.65); */
    --appheader-tutorial-title-color: var(--tutorial-title-color); /* #fff */
    --appheader-tutorial-text-background: var(--default-bg-panel-color); /* #333 */
    --appheader-tutorial-text-color: var(--tutorial-title-content-color); /* #ddd */
    --appheader-tutorial-border-bottom: 1px solid var(--panel-border-bottom-color); /* #444 */
    --appheader-activator-icon-color: #aaa;
    --appheader-activator-icon-active-color: #fff;
    --appheader-menu-activator-background: linear-gradient(to bottom, #3330 0%, #333 100%);
    --appheader-menu-activator-background-hover: linear-gradient(
        to top,
        hsla(0, 0%, 100%, 0.2),
        hsla(0, 0%, 100%, 0.001) 70%
      ),
      linear-gradient(to top, #222 10%, hsla(0, 0%, 100%, 0.001));
    --appheader-menu-activator-left-border: radial-gradient(circle at top, #191919, rgba(255, 255, 255, 0.001)),
      linear-gradient(to left, #ffffff26, #ffffff26 1px, rgba(0, 0, 0, 0.25) 1px, rgba(255, 255, 255, 0.001));
    --appheader-menu-activator-right-border: radial-gradient(circle at top, #191919, rgba(255, 255, 255, 0.001)),
      linear-gradient(to right, #ffffff26, #ffffff26 1px, rgba(0, 0, 0, 0.25) 1px, rgba(255, 255, 255, 0.001));
    --appheader-delimiter-top-border: none;
    --appheader-delimiter-bottom-border: 1px solid #333;

    --revive-availability-btn-everyone-green: #74B816;
    --revive-availability-btn-everyone-green-hover: #82C91E;
    --revive-availability-btn-everyone-green-shadow: 0px 0px 10px #94D82D80;
    --revive-availability-btn-everyone-green-shadow-hover: 0px 0px 10px #94D82DBF;

    --revive-availability-btn-everyone-orange: #F59F00;
    --revive-availability-btn-everyone-orange-hover: #FAB005;
    --revive-availability-btn-everyone-orange-shadow: 0px 0px 10px #D9480F;
    --revive-availability-btn-everyone-orange-shadow-hover: 0px 0px 10px #F76707;

    --revive-availability-btn-everyone-red: #FA5252;
    --revive-availability-btn-everyone-red-hover: #FF6B6B;
    --revive-availability-btn-everyone-red-shadow: 0px 0px 10px #C92A2A80;
    --revive-availability-btn-everyone-red-shadow-hover: 0px 0px 3px #F03E3E;

    --top-links-dropdown-bg-gradient: linear-gradient(0deg, #191919 0%, transparent 100%);
    --top-links-dropdown-active-bg-gradient: linear-gradient(0deg, #333 0%, transparent 100%);

    --items-options-icons: url(/images/v2/main/icons/item_options_icons_dark.svg) left top no-repeat;

    --default-base-white-color: #FFF;
    --default-base-navy-color: #4DABF7;
    --default-base-important-color: #FF6B6B;
    --default-base-subtle-color: #CCCCCC;
    --default-base-gold-color: #FFD43B;
    --default-base-green-color: #4DC455;
    --default-base-grey1-color: #999999;
    --default-base-royal-color: #15AABF;
    --default-base-dark-gold-color: #F08C00;
    --default-base-purple-color: #DA77F2;
    --default-base-brown-color: #FD7E14;
    --default-base-pink-color: #F783AC;
    --default-base-turq-color: #40C057;

    --top-link-green-color: #74B816;
    --top-link-green-text-shadow: 0 0 10px #94D82D80;
    --top-link-green-hover-color: #82C91E;
    --top-link-green-hover-text-shadow: 0 0 10px #94D82DBF;
    --top-link-green-filter: 0 0 10px #94D82D80;
    --top-link-green-hover-filter: 0 0 10px #94D82DBF;
    --top-link-green-fill: #74B816;
    --top-link-green-hover-fill: #82C91E;

    --top-link-orange-color: #F59F00;
    --top-link-orange-text-shadow: 0 0 10px #D9480F;
    --top-link-orange-hover-color: #FAB005;
    --top-link-orange-hover-text-shadow: 0 0 10px #F76707;
    --top-link-orange-filter: 0 0 10px #D9480F;
    --top-link-orange-hover-filter: 0 0 10px #F76707;
    --top-link-orange-fill: #F59F00;
    --top-link-orange-hover-fill: #FAB005;

    --top-link-red-color: #FA5252;
    --top-link-red-text-shadow: 0 0 10px #C92A2A80;
    --top-link-red-hover-color: #FF6B6B;
    --top-link-red-hover-text-shadow: 0 0 10px #F03E3E;
    --top-link-red-filter: 0 0 10px #C92A2A80;
    --top-link-red-hover-filter: 0 0 10px #F03E3E;
    --top-link-red-fill: #FA5252;
    --top-link-red-hover-fill: #FF6B6B;

    --faction-tag-diamond-rank-box-shadow: 0 0 5px #00FFFFCC, 0 0 5px #00FFFFCC;
    --faction-tag-platinum-rank-box-shadow: 0 0 5px #4685FF, 0 0 5px #4685FF;
    --faction-tag-gold-rank-box-shadow: 0 0 5px #FFC000, 0 0 5px #FFC000;

    --table-color: #ddd;
    --table-border-color: #ddd;

    --registration-gender-icons-sprite: url("/images/registration/genders_dark.svg") no-repeat;
    --registration-gender-small-icons-sprite: url("/images/registration/genders_small_dark.svg");
    --registration-gender-border: 1px solid #555555;
    --registration-gender-hover-color: #ffffff;

    --imarket-icon-url: url(/images/v2/items/dark_mode/item_icons_n.svg);

    --user-status-red-color: #FF8787;
    --user-status-green-color: #82C91E;
    --user-status-blue-color: #3BC9DB;

    --items-cont-bg-color: #242424;
    --items-cont-description-bg-color: #242424;
    --items-cont-description-bg-active-color: var(--items-cont-description-bg-color);
    --items-cont-description-bg-hover-color: var(--items-cont-description-bg-color);
    --items-cont-description-border-top-color: #3a3a3a;
    --items-cont-description-border-bottom-color: var(--items-cont-description-border-top-color);
    --items-cont-description-border-left-color: var(--items-cont-description-border-top-color);
    --items-cont-description-border-right-color: var(--items-cont-description-border-top-color);


    --items-glow-purple-linear-gradient: linear-gradient(180deg, #845EF700 0%, #845EF726 100%);
    --items-glow-yellow-linear-gradient: linear-gradient(180deg, #FFFF0000 0%, #FFFF0033 100%);
    --items-glow-orange-linear-gradient: linear-gradient(180deg, #FF9F0000 0%, #FF9F0040 100%);
    --items-glow-red-linear-gradient: linear-gradient(180deg, #FF000000 0%, #FF000026 100%);
    --items-glow-turquoise-linear-gradient: linear-gradient(180deg, #15AABF00 0%, #15AABF40 100%);
    --items-glow-purple-linear-gradient-hover: linear-gradient(180deg, #333333 0%, #3F3A50 100%);
    --items-glow-yellow-linear-gradient-hover: linear-gradient(180deg, #333333 0%, #707024 100%);
    --items-glow-orange-linear-gradient-hover: linear-gradient(180deg, #333333 0%, #664E26 100%);
    --items-glow-red-linear-gradient-hover: linear-gradient(180deg, #333333 0%, #512C2C 100%);
    --items-glow-purple-border-color: #845EF780;
    --items-glow-yellow-border-color: #FFFF0080;
    --items-glow-orange-border-color: #FF9F0080;
    --items-glow-red-border-color: #FF000080;
    --items-glow-turquoise-border-color: #15AABF80;

    --info-msg-icon-filter: drop-shadow(0 0 2px #000000A6);

    --city-banner-linear-gradient: linear-gradient(180deg, #18191900 0%, #181919 100%);

    --icon-button-background: linear-gradient(180deg, #333333 0%, #111111 100%);
    --icon-button-background-hover: linear-gradient(180deg, #333333 0%, #111111 100%);
    --icon-button-background-active: linear-gradient(180deg, #111111 0%, #333333 100%);
    --icon-button-background-disabled: transparent;
    --icon-button-border-color: #444444;
    --icon-button-border-color-hover: #666666;
    --icon-button-border-color-active: #444444;
    --icon-button-border-color-disabled: #444444;
}

:root .dark-mode[data-abroad="true"] {
    --main-bg: #182028;
    --title-black-linear-gradient: linear-gradient(180deg, #4E565E 0%, #303840 100%);
    --title-white-linear-gradient: var(--title-black-linear-gradient);
    --title-color: #FFFFFF;
    --title-text-shadow: 0 0 2px #000000;

    --traveling-fight-time-bg: linear-gradient(180deg, #0f141a 0%, #2e3b48 100%);
    --traveling-fight-time-shadow: inset 0 3px 6px #00000029;
    --traveling-fight-time-blue-bar-shadow: 0 0 10px #74c0fc80;

    --tutorial-title-gradient: linear-gradient(180deg, #7A8694 0%, #3D4957 100%) 0 0 no-repeat;
    --tutorial-title-border-top-color: #000;
    --tutorial-title-border-bottom-color: #FFFFFF1A;

    --content-title-links: #999;
    --content-title-links-hover: #CCC;
    --content-title-links-text-shadow: none;
    --top-links-icon-svg-fill: var(--content-title-links);
    --top-links-icon-svg-hover-fill: var(--content-title-links-hover);
    --top-links-icon-svg-shadow: var(--content-title-links-text-shadow);
    --top-links-icon-svg-hover-shadow: var(--content-title-links-text-shadow);

    --divider-black-left-linear-gradient: linear-gradient(0deg, #00000000 0%, #00000080 50%, #00000000 100%);
    --divider-black-right-linear-gradient: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF1A 50%, #FFFFFF00 100%);
    --divider-white-left-linear-gradient: var(--divider-black-left-linear-gradient);
    --divider-white-right-linear-gradient: var(--divider-black-right-linear-gradient);

    --tabs-black-bg-gradient: linear-gradient(0deg, #303840 0%, #4E565E 100%);
    --tabs-black-hover-bg-gradient: linear-gradient(180deg, #4E565E 0%, #404850 100%);
    --tabs-black-active-bg-gradient: linear-gradient(180deg, #303840 0%, #4E565E 100%);
    --tabs-black-disabled-bg-gradient: linear-gradient(0deg, #303840 0%, #4E565E 100%);

    --tabs-white-bg-gradient: var(--tabs-black-bg-gradient);
    --tabs-white-active-bg-gradient: var(--tabs-black-active-bg-gradient);
    --tabs-white-disabled-bg-gradient: var(--tabs-black-disabled-bg-gradient);

    --breadcrumbs-border-bottom-color: #222;
    --breadcrumbs-border-top-color: #4E565E;
    --breadcrumbs-bg-gradient: linear-gradient(0deg, #303840 0%, #4E565E 100%);
    --breadcrumbs-text-shadow: 0 0 2px #000;
    --breadcrumbs-color: #FFF;
    --breadcrumbs-arrow-shadow-left-color: #303840;
    --breadcrumbs-arrow-shadow-right-color: #4E565E;
    --breadcrumbs-active-bg-gradient: linear-gradient(180deg, #303840 0%, #4E565E 100%);

    --breadcrumbs-dark-border-bottom-color: var(--breadcrumbs-border-bottom-color);
    --breadcrumbs-dark-border-top-color: var(--breadcrumbs-border-top-color);
    --breadcrumbs-dark-bg-gradient: var(--breadcrumbs-bg-gradient);
    --breadcrumbs-dark-text-shadow: var(--breadcrumbs-text-shadow);
    --breadcrumbs-dark-color: var(--breadcrumbs-color);
    --breadcrumbs-dark-arrow-shadow-left-color: var(--breadcrumbs-arrow-shadow-left-color);
    --breadcrumbs-dark-arrow-shadow-right-color: var(--breadcrumbs-arrow-shadow-right-color);
    --breadcrumbs-dark-active-bg-gradient: var(--breadcrumbs-active-bg-gradient);

    --issue-status-black-color: #FFF;
    --issue-status-black-text-shadow: 0 0 2px #000000;
    --issue-status-black-hover-color: #FFF;
    --issue-status-black-active-linear-gradient: linear-gradient(0deg, #4E565E 0%, #303840 100%);
    --issue-status-black-bg-color: #4E565E;
    --issue-status-black-box-shadow: 0 1px 2px #00000080;
    --issue-status-black-title-border-bottom: 1px solid #222;
    --issue-status-black-hover-bg-color: #00000066;

    --issue-status-color: var(--issue-status-black-color);
    --issue-status-text-shadow: var(--issue-status-black-text-shadow);
    --issue-status-hover-color: var(--issue-status-black-hover-color);
    --issue-status-active-linear-gradient: var(--issue-status-black-active-linear-gradient);
    --issue-status-bg-color: var(--issue-status-black-bg-color);
    --issue-status-box-shadow: var(--issue-status-black-box-shadow);
    --issue-status-title-border-bottom: var(--issue-status-black-title-border-bottom);
    --issue-status-hover-bg-color: var(--issue-status-black-hover-bg-color);
}

:root .d[data-layout="regular"][data-abroad="true"] {
    --issue-status-black-scrollbar-color: #7792AD rgba(0, 0, 0, .4);
    --issue-status-black-scrollbar-track-bg-color: rgba(0, 0, 0, .4);
    --issue-status-black-scrollbar-thumb-box-shadow: inset 0 0 0 8px #7792ad;
    --issue-status-black-scrollbar-thumb-bg-color: transparent;
    --issue-status-black-scrollbar-thumb-border-color: #0000;
    --issue-status-black-scrollbar-corner-bg-color: #0006;
    --issue-status-black-hover-scrollbar-color: #A7B9CA rgba(0, 0, 0, .4);
    --issue-status-black-hover-scrollbar-thumb-box-shadow: inset 0 0 0 8px #a7b9ca;
    --issue-status-black-hover-scrollbar-thumb-bg-color: transparent;

    --issue-status-scrollbar-color: var(--issue-status-black-scrollbar-color);
    --issue-status-scrollbar-track-bg-color: var(--issue-status-black-scrollbar-track-bg-color);
    --issue-status-scrollbar-thumb-box-shadow: var(--issue-status-black-scrollbar-thumb-box-shadow);
    --issue-status-scrollbar-thumb-bg-color: var(--issue-status-black-scrollbar-thumb-bg-color);
    --issue-status-scrollbar-thumb-border-color: var(--issue-status-black-scrollbar-thumb-border-color);
    --issue-status-scrollbar-corner-bg-color: var(--issue-status-black-scrollbar-corner-bg-color);
    --issue-status-hover-scrollbar-thumb-box-shadow: var(--issue-status-black-hover-scrollbar-thumb-box-shadow);
    --issue-status-hover-scrollbar-thumb-bg-color: var(--issue-status-black-hover-scrollbar-thumb-bg-color);
}

:root .dark-mode[data-layout="jail"] {
    --main-bg: #1b1b0c;

    --title-black-linear-gradient: linear-gradient(180deg, #4A4A41 0%, #2D2D28 100%);
    --title-white-linear-gradient: var(--title-black-linear-gradient);

    --title-color: #FFFFFF;
    --title-text-shadow: 0 0 2px #000000;

    --blue-color: var(--default-blue-color);
    --bg-panel-color: var(--default-bg-panel-color);
    --icons-filter: none;
    --messages-border-color: #222;

    --tutorial-title-border-top-color: #000;
    --tutorial-title-border-bottom-color: #FFFFFF1A;
    --tutorial-title-gradient: linear-gradient(180deg, #7F7F77 0%, #40403C 100%);

    --content-title-links: #999;
    --content-title-links-hover: #CCC;
    --content-title-links-text-shadow: none;
    --top-links-icon-svg-fill: var(--content-title-links);
    --top-links-icon-svg-hover-fill: var(--content-title-links-hover);
    --top-links-icon-svg-shadow: var(--content-title-links-text-shadow);
    --top-links-icon-svg-hover-shadow: var(--content-title-links-text-shadow);

    --divider-black-left-linear-gradient: linear-gradient(0deg, #00000000 0%, #00000080 50%, #00000000 100%);
    --divider-black-right-linear-gradient: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF1A 50%, #FFFFFF00 100%);
    --divider-white-left-linear-gradient: var(--divider-black-left-linear-gradient);
    --divider-white-right-linear-gradient: var(--divider-black-right-linear-gradient);

    --tabs-black-bg-gradient: linear-gradient(180deg, #4A4A41 0%, #2D2D28 100%);
    --tabs-black-hover-bg-gradient: linear-gradient(180deg, #4A4A41 0%, #3B3B34 100%);
    --tabs-black-active-bg-gradient: linear-gradient(0deg, #4A4A41 0%, #2D2D28 100%);
    --tabs-black-disabled-bg-gradient: linear-gradient(180deg, #4A4A41 0%, #2D2D28 100%);

    --tabs-white-bg-gradient: var(--tabs-black-bg-gradient);
    --tabs-white-active-bg-gradient: var(--tabs-black-active-bg-gradient);
    --tabs-white-disabled-bg-gradient: var(--tabs-black-disabled-bg-gradient);

    --breadcrumbs-border-bottom-color: #222;
    --breadcrumbs-border-top-color: #4A4A41;
    --breadcrumbs-bg-gradient: linear-gradient(180deg, #4A4A41 0%, #2D2D28 100%);
    --breadcrumbs-text-shadow: 0 0 2px #000;
    --breadcrumbs-color: #FFF;
    --breadcrumbs-arrow-shadow-left-color: #2D2D28;
    --breadcrumbs-arrow-shadow-right-color: #4A4A41;
    --breadcrumbs-active-bg-gradient: linear-gradient(0deg, #4A4A41 0%, #2D2D28 100%);

    --breadcrumbs-dark-border-bottom-color: var(--breadcrumbs-border-bottom-color);
    --breadcrumbs-dark-border-top-color: var(--breadcrumbs-border-top-color);
    --breadcrumbs-dark-bg-gradient: var(--breadcrumbs-bg-gradient);
    --breadcrumbs-dark-text-shadow: var(--breadcrumbs-text-shadow);
    --breadcrumbs-dark-color: var(--breadcrumbs-color);
    --breadcrumbs-dark-arrow-shadow-left-color: var(--breadcrumbs-arrow-shadow-left-color);
    --breadcrumbs-dark-arrow-shadow-right-color: var(--breadcrumbs-arrow-shadow-right-color);
    --breadcrumbs-dark-active-bg-gradient: var(--breadcrumbs-active-bg-gradient);

    --issue-status-black-color: #FFF;
    --issue-status-black-text-shadow: 0 0 2px #000000;
    --issue-status-black-hover-color: #FFF;
    --issue-status-black-active-linear-gradient: linear-gradient(0deg, #4A4A41 0%, #2D2D28 100%);
    --issue-status-black-bg-color: #4A4A41;
    --issue-status-black-box-shadow: 0 1px 2px #00000080;
    --issue-status-black-title-border-bottom: 1px solid #222;
    --issue-status-black-hover-bg-color: #00000066;

    --issue-status-color: var(--issue-status-black-color);
    --issue-status-text-shadow: var(--issue-status-black-text-shadow);
    --issue-status-hover-color: var(--issue-status-black-hover-color);
    --issue-status-active-linear-gradient: var(--issue-status-black-active-linear-gradient);
    --issue-status-bg-color: var(--issue-status-black-bg-color);
    --issue-status-box-shadow: var(--issue-status-black-box-shadow);
    --issue-status-title-border-bottom: var(--issue-status-black-title-border-bottom);
    --issue-status-hover-bg-color: var(--issue-status-black-hover-bg-color);

    --issue-status-black-scrollbar-color: #646357 #393831;
    --issue-status-black-scrollbar-track-bg-color: #393831;
    --issue-status-black-scrollbar-thumb-bg-color: #646357;
    --issue-status-black-scrollbar-thumb-border-color: #393831;
    --issue-status-black-scrollbar-corner-bg-color: #393831;
    --issue-status-black-hover-scrollbar-color: #7B7A6E #393831;
    --issue-status-black-hover-scrollbar-thumb-bg-color: #7B7A6E;

    --issue-status-scrollbar-color: var(--issue-status-black-scrollbar-color);
    --issue-status-scrollbar-track-bg-color: var(--issue-status-black-scrollbar-track-bg-color);
    --issue-status-scrollbar-thumb-bg-color: var(--issue-status-black-scrollbar-thumb-bg-color);
    --issue-status-scrollbar-thumb-border-color: var(--issue-status-black-scrollbar-thumb-border-color);
    --issue-status-scrollbar-corner-bg-color: var(--issue-status-black-scrollbar-corner-bg-color);
    --issue-status-hover-scrollbar-color: var(--issue-status-black-hover-scrollbar-color);
    --issue-status-hover-scrollbar-thumb-bg-color: var(--issue-status-black-hover-scrollbar-thumb-bg-color);

    --page-header-divider-border-top: 1px solid #353526;
    --page-header-divider-border-bottom: 1px solid transparent;
}

:root .dark-mode[data-layout="hospital"] {
    --main-bg: #444;

    --title-black-linear-gradient: linear-gradient(180deg, #666666 0%, #333333 100%);
    --title-white-linear-gradient: var(--title-black-linear-gradient);
    --title-color: #FFFFFF;
    --title-text-shadow: 0 0 2px #000000;

    --blue-color: var(--default-blue-color);
    --bg-panel-color: var(--default-bg-panel-color);
    --icons-filter: none;
    --messages-border-color: #222;

    --tutorial-title-border-top-color: #000;
    --tutorial-title-border-bottom-color: #FFFFFF1A;

    --content-title-links: #999;
    --content-title-links-hover: #CCC;
    --content-title-links-text-shadow: none;
    --top-links-icon-svg-fill: var(--content-title-links);
    --top-links-icon-svg-hover-fill: var(--content-title-links-hover);
    --top-links-icon-svg-shadow: var(--content-title-links-text-shadow);
    --top-links-icon-svg-hover-shadow: var(--content-title-links-text-shadow);

    --divider-black-left-linear-gradient: linear-gradient(0deg, #00000000 0%, #00000080 50%, #00000000 100%);
    --divider-black-right-linear-gradient: linear-gradient(180deg, #FFFFFF00 0%, #FFFFFF1A 50%, #FFFFFF00 100%);
    --divider-white-left-linear-gradient: var(--divider-black-left-linear-gradient);
    --divider-white-right-linear-gradient: var(--divider-black-right-linear-gradient);

    --tabs-black-bg-gradient: linear-gradient(180deg, #666666 0%, #333333 100%);
    --tabs-black-active-bg-gradient: linear-gradient(180deg, #222222 0%, #444444 100%);
    --tabs-black-disabled-bg-gradient: linear-gradient(180deg, #666666 0%, #333333 100%);

    --tabs-bg-gradient: var(--tabs-black-bg-gradient);
    --tabs-hover-bg-gradient: var(--tabs-black-hover-bg-gradient);
    --tabs-active-bg-gradient: var(--tabs-black-active-bg-gradient);
    --tabs-disabled-bg-gradient: var(--tabs-black-disabled-bg-gradient);

    --breadcrumbs-border-bottom-color: #222;
    --breadcrumbs-border-top-color: #555;
    --breadcrumbs-bg-gradient: linear-gradient(180deg, #666666 0%, #333333 100%);
    --breadcrumbs-text-shadow: 0 0 2px #000000;
    --breadcrumbs-color: #FFF;
    --breadcrumbs-arrow-shadow-left-color: #222;
    --breadcrumbs-arrow-shadow-right-color: #444;
    --breadcrumbs-active-bg-gradient: linear-gradient(180deg, #222222 0%, #444444 100%);

    --breadcrumbs-dark-border-bottom-color: var(--breadcrumbs-border-bottom-color);
    --breadcrumbs-dark-border-top-color: var(--breadcrumbs-border-top-color);
    --breadcrumbs-dark-bg-gradient: var(--breadcrumbs-bg-gradient);
    --breadcrumbs-dark-text-shadow: var(--breadcrumbs-text-shadow);
    --breadcrumbs-dark-color: var(--breadcrumbs-color);
    --breadcrumbs-dark-arrow-shadow-left-color: var(--breadcrumbs-arrow-shadow-left-color);
    --breadcrumbs-dark-arrow-shadow-right-color: var(--breadcrumbs-arrow-shadow-right-color);
    --breadcrumbs-dark-active-bg-gradient: var(--breadcrumbs-active-bg-gradient);

    --breadcrumbs-status-border-color: #333;

    --issue-status-black-color: #FFF;
    --issue-status-black-hover-color: #FFF;
    --issue-status-black-active-linear-gradient: linear-gradient(0deg, #666666 0%, #333333 100%);
    --issue-status-black-bg-color: #666;
    --issue-status-black-box-shadow: 0 1px 2px #00000080;
    --issue-status-black-title-border-bottom: 1px solid #222;
    --issue-status-black-hover-bg-color: #00000066;
    --issue-status-black-text-shadow: 0 0 2px #000000;
    --issue-status-black-scrollbar-color: #666 #333;
    --issue-status-black-scrollbar-track-bg-color: #333;
    --issue-status-black-scrollbar-thumb-bg-color: #666;
    --issue-status-black-scrollbar-thumb-border-color: #333;
    --issue-status-black-scrollbar-corner-bg-color: #333;
    --issue-status-black-hover-scrollbar-color: #888 #333;
    --issue-status-black-hover-scrollbar-thumb-bg-color: #888;
    --issue-status-black-viewport-border-top: none;

    --issue-status-color: var(--issue-status-black-color);
    --issue-status-hover-color: var(--issue-status-black-hover-color);
    --issue-status-active-linear-gradient: var(--issue-status-black-active-linear-gradient);
    --issue-status-bg-color: var(--issue-status-black-bg-color);
    --issue-status-box-shadow: var(--issue-status-black-box-shadow);
    --issue-status-title-border-bottom: var(--issue-status-black-title-border-bottom);
    --issue-status-hover-bg-color: var(--issue-status-black-hover-bg-color);
    --issue-status-text-shadow: var(--issue-status-black-text-shadow);
    --issue-status-scrollbar-color: var(--issue-status-black-scrollbar-color);
    --issue-status-scrollbar-track-bg-color: var(--issue-status-black-scrollbar-track-bg-color);
    --issue-status-scrollbar-thumb-bg-color: var(--issue-status-black-scrollbar-thumb-bg-color);
    --issue-status-scrollbar-thumb-border-color: var(--issue-status-black-scrollbar-thumb-border-color);
    --issue-status-scrollbar-corner-bg-color: var(--issue-status-black-scrollbar-corner-bg-color);
    --issue-status-hover-scrollbar-color: var(--issue-status-black-hover-scrollbar-color);
    --issue-status-hover-scrollbar-thumb-bg-color: var(--issue-status-black-hover-scrollbar-thumb-bg-color);

    --issue-status-closed-icon-black-filter: brightness(0.3);
    --issue-status-closed-icon-filter: var(--issue-status-closed-icon-black-filter);

    --travel-agency-fade-left-linear-gradient: linear-gradient(90deg, #444444 0%, #44444400 100%);
    --travel-agency-fade-right-linear-gradient: linear-gradient(270deg, #444444 0%, #44444400 100%);

    --traveling-fight-time-bg: linear-gradient(180deg, #222222 0%, #333333 100%);
    --traveling-fight-time-shadow: inset 0px 3px 6px #00000029;
}

@media screen and (max-width: 1000px) {
    :root .r.dark-mode {
        --city-banner-linear-gradient: linear-gradient(180deg, #18191900 0%, #181919 65%, #181919 100%);
    }
}

@media screen and (max-width: 784px) {
    :root .r.dark-mode {

    }
}

@media screen and (max-width: 386px) {
    :root .r.dark-mode {

    }
}
